<section class="container-fluid">
    <div style="width: 100%;">
        <div class="row mt-1 mb-5">
            <div class="col">
                <h2>Join Us</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h3>Open Positions</h3>
            </div>
            <div class="col">
                <h3>Locations</h3>
            </div>
            <div class="col">
                <h3>Users</h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <h4>5</h4>
            </div>
            <div class="col">
                <h4>Luanda and Lisbon</h4>
            </div>
            <div class="col">
                <h4>50</h4>
            </div>
        </div>
    </div>
</section>