main {
  margin-left: 4rem;
  margin-right: 4rem;

  a {
    text-decoration: underline;
    font-size: 1rem;
    color: gray;
  }

  h2 {
    color: #01012e;
    font-size: 2rem;
  }

  .desc {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .info {
    font-size: 1.2;
    color: #01012e;
  }

  button {
    width: 13rem;
  }
}
