<header>
    <app-navbar></app-navbar>
    <br><br><br><br>
</header>
<main>

    <a class="mt-5 mb-4" href="/">Home</a>

    <h2 class="mt-4 mb-4">Get in touch with us</h2>

    <p class="mb-5 desc">
        You can find our switchboard number below. Please scroll down to contact the responsible team for more specific
        questions.
    </p>

    <h2 class="mt-5">Tecside Limitada</h2>
    <div class="info">
        <p>Edifício Vany 5 piso.</p>
        <p>Luanda, Angola</p>
        <p>+244 912345678</p>
    </div>
    <br>
    <p class="mb-5">The company is a limited liability company, established under Angolan law, with a share capital of
        AOA 100.000
    </p>
    <p class="mb-4">
        Registration number: 2086-28072020-GO
    </p>
    <p class="mb-4">
        VAT Number: 5000549241
    </p>
    <button>Learn More</button>

</main>
<app-contacts-form></app-contacts-form>
<app-footer>
</app-footer>