<section class="section-4">
    <div class="planos">
        <div class="planos-bg" style="background-image: url('../../../assets/home/plans/bg1.jpg')">
            <h1 class="p-header-txt">Escolha os melhores treinos. Treine com os melhores instrutores de Portugal e
                Angola
            </h1>
            <swiper #swiperWrapper class="swiper planos-card" [config]="config">
                <ng-template swiperSlide>
                    <div class="swiper-slide plano-slide">
                        <div class="tec-swiper-controllers">
                            <a (click)="slidePrev()"><img style="width: 24px; height: 24px;"
                                    src="../../../assets/home/plans/prev.svg" alt="prev"></a>
                            <h1 class="p-name">Plano Tecfit</h1>
                            <a (click)="slideNext()"><img style="width: 24px; height: 24px;"
                                    src="../../../assets/home/plans/next.svg" alt="next"></a>
                        </div>
                        <ul>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Treinos agendados e personalizados</h6>
                            </li>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Centenas de instrutores disponíveis</h6>
                            </li>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Acompanhamento nutricional</h6>
                            </li>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Várias modalidades de desporto</h6>
                            </li>
                        </ul>

                        <h4 class="see-d"><a href="#">Ver detalhes</a></h4>


                        <h4 class="p-price">por apenas <b>1.99€</b> por mês</h4>
                        <div class="start-section"><button class="tec-btn">Começar</button></div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="swiper-slide plano-slide">
                        <div class="tec-swiper-controllers">
                            <a (click)="slidePrev()"><img style="width: 24px; height: 24px;"
                                    src="../../../assets/home/plans/prev.svg" alt="prev"></a>
                            <h1 class="p-name">Plano Nzinga</h1>
                            <a (click)="slideNext()"><img style="width: 24px; height: 24px;"
                                    src="../../../assets/home/plans/next.svg" alt="next"></a>
                        </div>
                        <ul>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Treinos agendados e personalizados</h6>
                            </li>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Centenas de instrutores disponíveis</h6>
                            </li>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Acompanhamento nutricional</h6>
                            </li>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Várias modalidades de desporto</h6>
                            </li>
                        </ul>

                        <h4 class="see-d"><a href="#">Ver detalhes</a></h4>


                        <h4 class="p-price">por apenas <b>4.99€</b> por mês</h4>
                        <div class="start-section"><button class="tec-btn">Começar</button></div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="swiper-slide plano-slide">
                        <div class="tec-swiper-controllers">
                            <a (click)="slidePrev()"><img style="width: 24px; height: 24px;"
                                    src="../../../assets/home/plans/prev.svg" alt="prev"></a>
                            <h1 class="p-name">Plano Mandume</h1>
                            <a (click)="slideNext()"><img style="width: 24px; height: 24px;"
                                    src="../../../assets/home/plans/next.svg" alt="next"></a>
                        </div>
                        <ul>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Treinos agendados e personalizados</h6>
                            </li>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Centenas de instrutores disponíveis</h6>
                            </li>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Acompanhamento nutricional</h6>
                            </li>
                            <li class="list-item">
                                <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                                <h6>Várias modalidades de desporto</h6>
                            </li>
                        </ul>

                        <h4 class="see-d"><a href="#">Ver detalhes</a></h4>


                        <h4 class="p-price">por apenas <b>8.99€</b> por mês</h4>
                        <div class="start-section"><button class="tec-btn">Começar</button></div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</section>