section {
  background-color: black;

  h2 {
    color: rgba($color: #fff, $alpha: 0.5);
    font-size: 2rem;
    margin: 0px;
  }

  .card {
    border: none;

    display: flex;
    justify-content: center;
    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
  }

  #card-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../../assets/programs/1.jpeg");
  }

  #card-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../../assets/programs/2.jpeg");
  }

  #card-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../../assets/programs/3.jpeg");
  }

  #card-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../../assets/programs/4.jpeg");
  }
  #card-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../../assets/programs/5.jpeg");
  }
  #card-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../../assets/programs/6.jpeg");
  }
  #card-7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../../assets/programs/7.jpeg");
  }
}

#swiper-div {
  margin-bottom: 5rem;
}

@media (max-width: 1000px) {
  section {
    h2 {
      font-size: 1.5rem;

    }
  }
}

@media (max-width: 700px) {
  section {
    h2 {
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 2rem !important;
    }

    .card {
      height: 40vh;
    }
  }
}
