<section id="programs">
    <br>
    <h2 style="color: white; padding-bottom: 4rem; text-align: center;">
{{ "HOME.OURPROGRAMS" | translate }}
    </h2>
    <div id="swiper-div">
        <swiper [grabCursor]="true" [pagination]="true" [navigation]="true" [spaceBetween] = "20" [loop]="false" [breakpoints]="{
                '700': {
                  slidesPerView: 2
                },
                '1000': {
                  slidesPerView: 3
                },
                '1200': {
                  slidesPerView: 5
                }}" class="mySwiper">
            <ng-template swiperSlide>
                <div id="card-1" class="card">
                    <h2>{{ "HOME.GAINMUSCLE" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="card-2" class="card">
                    <h2>{{ "HOME.LOSEW" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="card-3" class="card">
                    <h2>{{ "HOME.MOBILITY" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="card-4" class="card">
                    <h2>{{ "HOME.RUNNING" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="card-5" class="card">
                    <h2>{{ "HOME.HIIT" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="card-6" class="card">
                    <h2>{{ "HOME.STREGHNT" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="card-7" class="card">
                    <h2>{{ "HOME.CORE" | translate }}</h2>
                </div>
            </ng-template>
        </swiper>
    </div>
</section>