<section id="programs">
  <br>
  <h2 style="color: white; padding-bottom: 4rem;">
    &nbsp;&nbsp; {{ "HOME.OURPROGRAMS" | translate }}
  </h2>
  <swiper [effect]="'coverflow'" [pagination]="true" [navigation]="true" [grabCursor]="true" [centeredSlides]="false" [spaceBetween]="0"
    [loop]="true" [coverflowEffect]="{
          rotate: 0,
          stretch: 0,
          depth: 300,
          modifier: 1,
          slideShadows: true
        }" class="mySwiper">
        <ng-template swiperSlide>
          <div id="card-1" class="card">
              <h2>{{ "HOME.GAINMUSCLE" | translate }}</h2>
          </div>
      </ng-template>
      <ng-template swiperSlide>
          <div id="card-2" class="card">
              <h2>{{ "HOME.LOSEW" | translate }}</h2>
          </div>
      </ng-template>
      <ng-template swiperSlide>
          <div id="card-3" class="card">
              <h2>{{ "HOME.MOBILITY" | translate }}</h2>
          </div>
      </ng-template>
      <ng-template swiperSlide>
          <div id="card-4" class="card">
              <h2>{{ "HOME.RUNNING" | translate }}</h2>
          </div>
      </ng-template>
      <ng-template swiperSlide>
          <div id="card-5" class="card">
              <h2>{{ "HOME.HIIT" | translate }}</h2>
          </div>
      </ng-template>
      <ng-template swiperSlide>
          <div id="card-6" class="card">
              <h2>{{ "HOME.STREGHNT" | translate }}</h2>
          </div>
      </ng-template>
      <ng-template swiperSlide>
          <div id="card-7" class="card">
              <h2>{{ "HOME.CORE" | translate }}</h2>
          </div>
      </ng-template>
  </swiper>
</section>