<section style="height: 85vh;">
    <br>
    <swiper style="height: 80vh;" [breakpoints]="{
        '400': {
          slidesPerView: 1
        },
        '700': {
          slidesPerView: 1
        },
        '1000': {
          slidesPerView: 1
        },
        '1200': {
          slidesPerView: 1
        }}" [loop]="true" [autoplay]="{
            delay: 0
          }" [spaceBetween]="0" [speed]="22000" [freeMode]="true" class="mySwiper">
        <ng-template swiperSlide>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div id="pic-1" class="row" style="height: 40vh; background-color: white;">
                        </div>
                        <br>
                        <div id="pic-2" class="row" style="height: 40vh; background-color: white;">
                        </div>
                    </div>
                    <div class="col" id="pic-3">
                    </div>
                    <div class="col">
                        <div id="pic-4" class="row" style="height: 40vh; background-color: white;">
                        </div>
                        <br>
                        <div id="pic-5" class="row" style="height: 40vh; background-color: white;">
                        </div>
                    </div>
                    <div class="col" id="pic-6">
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div id="pic-7" class="row" style="height: 40vh; background-color: white;">
                        </div>
                        <br>
                        <div id="pic-8" class="row" style="height: 40vh; background-color: white;">
                        </div>
                    </div>
                    <div class="col" id="pic-9">
                    </div>
                    <div class="col">
                        <div id="pic-10" class="row" style="height: 40vh; background-color: white;">
                        </div>
                        <br>
                        <div id="pic-11" class="row" style="height: 40vh; background-color: white;">
                        </div>
                    </div>
                    <div class="col" id="pic-12">
                    </div>
                </div>
            </div>
        </ng-template>
    </swiper>

    <!--  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> -->






    <br>
</section>