<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    <img class="img-fluid" src="../../../../../assets/home/exemplos/1.jpeg" alt="">
                </div>
                <br>
                <div class="row">
                    <img class="img-fluid" src="../../../../../assets/home/exemplos/2.jpeg" alt="">
                </div>
            </div>
            <div class="col">
                <img class="img-fluid" src="../../../../../assets/home/exemplos/3.jpeg" alt="">
            </div>
            <div class="col">
                <div class="row">
                    <img class="img-fluid" src="../../../../../assets/home/exemplos/1.jpeg" alt="">
                </div>
                <br>
                <div class="row">
                    <img class="img-fluid" src="../../../../../assets/home/exemplos/2.jpeg" alt="">
                </div>
            </div>
            <div class="col">
                <img class="img-fluid" src="../../../../../assets/home/exemplos/3.jpeg" alt="">
            </div>
        </div>
    </div>
</section>