section {
    background-color: black;
}

#pic-1,
#pic-2,
#pic-4,
#pic-5,
#pic-7,
#pic-8,
#pic-10,
#pic-11 {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pic-3,
#pic-6,
#pic-9,
#pic-12 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 20px;
}

#pic-1, #pic-7 {
    background-image: url("../../../../../assets/ambassador/embaixadores/ines.jpeg");
    background-size: cover;
}

#pic-2, #pic-8 {
    background-image: url("../../../../../assets/ambassador/embaixadores/david.jpeg");
    background-position: bottom;
}

#pic-3, #pic-9 {
    background-image: url("../../../../../assets/ambassador/embaixadores/daniel1.jpg");
}

#pic-4, #pic-10 {
    background-image: url("../../../../../assets/ambassador/embaixadores/gym.jpeg");
    background-position: bottom;
}

#pic-5, #pic-11 {
    background-image: url("../../../../../assets/ambassador/embaixadores/chines.jpeg");
}

#pic-6, #pic-12 {
    background-image: url("../../../../../assets/ambassador/embaixadores/corda.jpg");
}

#pic-7 {
}

#pic-8 {
    
}

#pic-9 {

}

#pic-10 {

}

#pic-11 {

}

#pic-12 {

}