#benefits {

  background-color: white !important;

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
  }

  div {
    display: flex;

    .arrow {
      margin-left: 30px;
      margin-right: 30px;
    }

    @media (max-width: 700px) {
      .arrow {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .arrow:hover {
      cursor: pointer;
    }

    .card {
      text-align: center;
      font-size: 1.2rem;
      line-height: 2rem;
      border: none;

      img {
        align-self: center;
      }

      p {
        margin: 0 50px;
        line-height: 30px;
        text-align: center;
      }

      @media (max-width: 700px) {
        p {
          margin: 0px 10px;
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }
}
