<section class="container-fluid mt-5">

    <div class="row" style="text-align: center;">
        <div class="col title active-title">
            <h2>Who are we</h2>
        </div>
        <div class="col title">
            <h2>What we believe in</h2>
        </div>
        <div class="col title">
            <h2>Where we play in</h2>
        </div>
    </div>
    <div class="row" style="text-align: center; margin: 4rem 15rem;">
        <div class="col description active-description">
            Tecfit is a digital health application founded in 2020. We provide workouts, customisable plans and
            resources to help people to maintain healthy habits.
            With a custom combination of at-home and gyms exercises, our goal is to give our users the ability to
            achieve their goals in different ways and at an affordable price.
            <br><br>
            Our idea started during the pandemic, but our goal is to continue to exist for the next decades. With this
            in mind, at Tecfit, we combine the best of the young and past generations to create an outstanding service.
        </div>
        <div class="col description">
            Tecfit is a digital health application founded in 2020. We provide workouts, customisable plans and
            resources to help people to maintain healthy habits.
            With a custom combination of at-home and gyms exercises, our goal is to give our users the ability to
            achieve their goals in different ways and at an affordable price.
            <br><br>
            Our idea started during the pandemic, but our goal is to continue to exist for the next decades. With this
            in mind, at Tecfit, we combine the best of the young and past generations to create an outstanding service.
        </div>
        <div class="col description">
            Tecfit is a digital health application founded in 2020. We provide workouts, customisable plans and
            resources to help people to maintain healthy habits.
            With a custom combination of at-home and gyms exercises, our goal is to give our users the ability to
            achieve their goals in different ways and at an affordable price.
            <br><br>
            Our idea started during the pandemic, but our goal is to continue to exist for the next decades. With this
            in mind, at Tecfit, we combine the best of the young and past generations to create an outstanding service.
        </div>
    </div>

</section>