<section class="section-2" style="background-color: white;">
    <img src="../../../assets/home/app.PNG" alt="coaches" style="padding: 30px;">
    <div class="flex">
        <div class="description" style="text-align: center;">
            <h2 class="color-black">
                Train&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                Smarter
            </h2>
            <p class="color-black">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit modi nobis, deleniti ipsum eos quod
                corrupti aliquid odio dolore placeat cum vero obcaecati odit architecto atque ad nisi molestiae?
                Tempora!
            </p>
            <br>
            <a><img src="../../../assets/home/AppStore.png" alt="appStore"
                    style="width: 200px; padding-right: 5px;"></a>
            <a><img src="../../../assets/home/PlayStore.png" alt="playStore"
                    style="width: 200px; padding-left: 5px;"></a>
        </div>
    </div>
    <br>
</section>