<section class="section-2" style="background-color: white;">
    <img id="main-img" src="../../../assets/home/app.PNG" alt="coaches" style="padding: 30px;">
    <div class="flex">
        <div class="description" style="text-align: center;">
            <div style="display: flex; justify-content: flex-end;">
                <img class="mobile-img" src="../../../../../assets/home/curl.jpeg" alt="coach">
            </div>
            <div class="desc">
                <img class="mobile-img" src="../../../../../assets/home/yoga.jpeg" alt="coach">
                <h2 class="color-black">
                    Train&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Smarter
                </h2>
            </div>
            <p class="color-black">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit modi nobis, deleniti ipsum eos quod
                corrupti aliquid odio dolore placeat cum vero obcaecati odit architecto atque ad nisi molestiae?
                Tempora!
            </p>
            <br>
            <div style="display: flex; justify-content: center;">
                <a><img class="download-btn" src="../../../assets/home/AppStore.png" alt="appStore"></a>
                <a><img class="download-btn" src="../../../assets/home/PlayStore.png" alt="playStore"></a>
            </div>
        </div>
    </div>
</section>