<section class="container-fluid mt-5">

    <div class="row" style="text-align: center;">
        <div class="col title active-title">
            <h2>Who are they</h2>
        </div>
        <div class="col title">
            <h2>Why are they here</h2>
        </div>
        <div class="col title">
            <h2>How to join</h2>
        </div>
    </div>
    <div class="row" style="text-align: center; margin: 4rem 15rem;">
        <div class="col description active-description">
            Our strategy, ‘Own the Game’ puts the consumer at the heart of everything we do. The strategic focus areas
            are all about increasing brand credibility, elevating the experience for our consumers, and pushing the
            boundaries in sustainability.
            <br><br>
            We can only do this successfully if we continue to develop mindsets which embrace innovation, a
            digital-first way of working and – most importantly – support our employees with the best tools, leadership,
            development, and workplace experience possible.

            Our people strategy will help us to grow, nurture, and elevate adidas even further. New innovations,
            solutions and designs will flourish in a respectful, inspiring, and supportive workplace.


        </div>
        <div class="col description">
            Our strategy, ‘Own the Game’ puts the consumer at the heart of everything we do. The strategic focus areas
            are all about increasing brand credibility, elevating the experience for our consumers, and pushing the
            boundaries in sustainability.
            <br><br>
            We can only do this successfully if we continue to develop mindsets which embrace innovation, a
            digital-first way of working and – most importantly – support our employees with the best tools, leadership,
            development, and workplace experience possible.

            Our people strategy will help us to grow, nurture, and elevate adidas even further. New innovations,
            solutions and designs will flourish in a respectful, inspiring, and supportive workplace.


        </div>
        <div class="col description">
            Our strategy, ‘Own the Game’ puts the consumer at the heart of everything we do. The strategic focus areas
            are all about increasing brand credibility, elevating the experience for our consumers, and pushing the
            boundaries in sustainability.
            <br><br>
            We can only do this successfully if we continue to develop mindsets which embrace innovation, a
            digital-first way of working and – most importantly – support our employees with the best tools, leadership,
            development, and workplace experience possible.

            Our people strategy will help us to grow, nurture, and elevate adidas even further. New innovations,
            solutions and designs will flourish in a respectful, inspiring, and supportive workplace.


        </div>
    </div>

</section>