section {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;

  padding: 20px 0px;

  #video {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 3rem;
      color: black;
    }
    i:hover {
      font-size: 3rem;
      color: white;
      cursor: pointer;
    }
  }

  video {
      display: none;
  }
}
