<section class="cards-section">
    <div class="titles">
        <br>
        <h2>FIND WHAT MOVES YOU</h2>
        <p>Whether you’re a complete beginner or you want to step up your routine, get the full studio experience at
            home with thousands of classes for body, mind, and spirit.</p>
        <br>
    </div>
    <div class="container">
        <div class="cards row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="../../../assets/home/cards/strength.jpeg" alt="Coach">
                    <div class="card-description">
                        <h4>Strength</h4>
                        <p>Train with or withot
                            equioments. We have
                            a tailored plan to help you..</p>
                    </div>
                    <br><br><br>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <br><br><br>
                    <img src="../../../assets/home/cards/hiit.jpeg" alt="Coach">
                    <div class="card-description">
                        <h4>HITT</h4>
                        <p>Train with or withot
                            equioments. We have
                            a tailored plan to help you..</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="../../../assets/home/cards/run.jpeg" alt="Coach">
                    <div class="card-description">
                        <h4>Run and Burn</h4>
                        <p>Train with or withot
                            equioments. We have
                            a tailored plan to help you..</p>
                    </div>
                    <br><br><br>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <br><br><br>
                    <img src="../../../assets/home/cards/loseW.jpeg" alt="Coach">
                    <div class="card-description">
                        <h4>Lose weight</h4>
                        <p>Train with or withot
                            equioments. We have
                            a tailored plan to help you..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>