<section class="cards-section">
    <div class="titles">
        <br>
        <h2>ENCONTRA O QUE TE MOVE</h2>
        <p>Quer você seja um iniciante ou queira acelerar sua rotina, tenha a experiência de estúdio completa em
            casa
            com milhares de aulas para corpo, mente e espírito.</p>
        <br>
    </div>
    <div class="container">
        <div class="cards row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="../../../assets/home/cards/Card_1.png" alt="Coach">
                    <div class="card-description">
                        <h4>YOGA</h4>
                        <p>From Alguem bla bla bla...</p>
                    </div>
                    <br><br><br>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <br><br><br>
                    <img src="../../../assets/home/cards/Card_2.png" alt="Coach">
                    <div class="card-description">
                        <h4>HITT</h4>
                        <p>From Alguem bla bla bla...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="../../../assets/home/cards/Card_3.png" alt="Coach">
                    <div class="card-description">
                        <h4>YOGA</h4>
                        <p>From Alguem bla bla bla...</p>
                    </div>
                    <br><br><br>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <br><br><br>
                    <img src="../../../assets/home/cards/Card_4.png" alt="Coach">
                    <div class="card-description">
                        <h4>DANÇA</h4>
                        <p>From Alguem bla bla bla...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>