.titles {
  text-align: center;

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
    line-height: 30px;
    margin: 0px 200px;
  }
}

.cards {
  display: flex;
  justify-content: center;

  img {
    width: 250px;
  }

  h4 {
    font-size: large;
    padding-top: 20px;
    font-weight: bold;
  }

  p {
    padding-bottom: 20px;
    font-size: 15px;
  }
}

.card {
  border: 0px;
  text-align: center;
}
