header {
  div {
    h1 {
      text-align: center;
      font-size: 50px;
      color: #001658;
      font-weight: bold;
      line-height: 50px;
    }

    hr {
      margin: auto;
      width: 300px;
    }

    p {
      padding-top: 10px;
      text-align: center;
    }
  }
}

main {
  margin-left: 40px;
  margin-right: 40px;

  h3 {
    color: #001658;
    font-weight: bold;
    font-size: 30px;
  }
  p {
      text-align: justify;
      font-size: 20px;
      line-height: 25px;
  }
}
