<header>
    <app-navbar></app-navbar>
    <br><br><br><br><br>
    <div>
        <h1>Tecfit Privacy policy</h1>
        <hr>
        <p>Updated September 24, 2020</p>
    </div>
    <br><br>
</header>
<main>
    <p>This Privacy Policy ("Policy") provides information about the data that Aaptiv Inc. ("Aaptiv" or "We") may
        collect from users of our website (the "Site") and/or our mobile application (the "App") and how we use and
        share such information. By using the Site or the App, you agree to the terms of this Policy. We may change this
        Policy from time to time, and changes are effective upon posting. Please review our Privacy Policy regularly.
        Your continued use of Aaptiv after changes are posted constitutes your agreement to the changes. If you do not
        agree to the terms of this Policy, please discontinue your use of the Site and/or App.
    </p>
    <br>
    <h3>What Information Do We Collect?</h3>
    <br>
    <p>Each time you provide or transmit information to us via the Site or App, Aaptiv may obtain and collect personally
        identifiable information about you, including, but not limited to, your name, email address, and any other
        information that may be used to identify you. We may also collect information about your IP address, browser
        type, cookie identifiers, Internet Service Provider, referring and exit page, operating system, clickstream
        data, the type of mobile device you use, your mobile device's unique device ID, and your mobile operating system
        (“Internet Activity Data”). We may track information regarding your use of our Site or App, including but not
        limited to, which classes you have taken and timestamps associated with your use of our services. We also track
        and analyze non-identifying and aggregate usage and volume statistical information from our visitors and
        customers.
    </p>
    <p>
        Each time you provide or transmit information to us via the Site or App, Aaptiv may obtain and collect
        personally identifiable information about you, including, but not limited to, your name, email address, and any
        other information that may be used to identify you. We may also collect information about your IP address,
        browser type, cookie identifiers, Internet Service Provider, referring and exit page, operating system,
        clickstream data, the type of mobile device you use, your mobile device's unique device ID, and your mobile
        operating system (“Internet Activity Data”). We may track information regarding your use of our Site or App,
        including but not limited to, which classes you have taken and timestamps associated with your use of our
        services. We also track and analyze non-identifying and aggregate usage and volume statistical information from
        our visitors and customers.
    </p>
</main>
<app-footer></app-footer>