<header>
  <app-navbar></app-navbar>
</header>
<main>


<app-new-top></app-new-top>
<app-top-slides-mobile class="mobile"></app-top-slides-mobile>
<br><br>
<app-glitch-component></app-glitch-component>
<br>
<app-new-programs class="web"></app-new-programs>
<app-new-programs-mobile class="mobile"></app-new-programs-mobile>
<app-receipts-video></app-receipts-video>
<app-exemplos class="web"></app-exemplos>
<app-benefits></app-benefits>
<app-words-slide class="web"></app-words-slide>
<!-- <app-meet-ambassadors></app-meet-ambassadors> -->
<app-plans-component></app-plans-component>




  
  <!-- <app-top-component></app-top-component>
  <app-programs></app-programs> -->
  <!--   <app-cards-component class="mobile"></app-cards-component> -->
 <!--  <app-glitch-component></app-glitch-component> -->
  <!-- <app-train-smarter-component class="mobile"></app-train-smarter-component> -->
  <!-- <br><br><br>
  <app-receipts-video></app-receipts-video> -->
  <!--   <app-recipes-component class="mobile"></app-recipes-component> -->
  <!-- <app-benefits></app-benefits>
  <app-plans-component></app-plans-component> -->
  <!--  <app-store-component></app-store-component> -->
</main>
<app-footer></app-footer>