<header>
    <app-navbar></app-navbar>
</header>
<main>
    <div class="top">
        <div class="inner fade-in">
            <img src="../../../assets/home/tecfit-logo-black.png" alt="Logo">
            <h2 id="page-intro-title">Body-Mind-Soul</h2>
            <h3 id="page-intro-subtitle">Work Smarter. Eat Better. Live Forever</h3>
            <button type="submit">Entrar</button>
            <br>
            <button type="submit">Cadastre-se</button>
        </div>
    </div>
    <section id="section-1" class="cards-section">
        <div class="titles">
            <br>
            <h2>ENCONTRA O QUE TE MOVE</h2>
            <p>Quer você seja um iniciante ou queira acelerar sua rotina, tenha a experiência de estúdio completa em
                casa
                com milhares de aulas para corpo, mente e espírito.</p>
            <br>
        </div>
        <div class="container">
            <div class="cards row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img src="../../../assets/home/cards/0.jpg" alt="Coach">
                        <div class="card-description">
                            <h4>YOGA</h4>
                            <p>From Alguem bla bla bla...</p>
                        </div>
                        <br><br><br>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                        <br><br><br>
                        <img src="../../../assets/home/cards/0.jpg" alt="Coach">
                        <div class="card-description">
                            <h4>HITT</h4>
                            <p>From Alguem bla bla bla...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img src="../../../assets/home/cards/0.jpg" alt="Coach">
                        <div class="card-description">
                            <h4>YOGA</h4>
                            <p>From Alguem bla bla bla...</p>
                        </div>
                        <br><br><br>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                        <br><br><br>
                        <img src="../../../assets/home/cards/0.jpg" alt="Coach">
                        <div class="card-description">
                            <h4>DANÇA</h4>
                            <p>From Alguem bla bla bla...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <img src="../../../assets/home/3d-card2.jpg" alt="Coach">
        <div class="flex">
            <div class="description">
                <h2>
                    Faça programas adaptados aos seu objetivo
                </h2>
                <p>
                    Planos semanais para perda de peso,
                    treinamento para corrida, flexibilidade,
                    maternidade e muito mais.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit modi nobis, deleniti ipsum eos quod
                    corrupti aliquid odio dolore placeat cum vero obcaecati odit architecto atque ad nisi molestiae?
                    Tempora!
                </p>
                <button>Comece uma jornada</button>
            </div>
        </div>
    </section>
    <section class="section-3">
        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>
    </section>
    <section class="section-2">
        <div class="flex">
            <div class="description">
                <h2>
                    Faça pratos adaptados ao seu objectivo
                </h2>
                <p>
                    Planos semanais para perda de peso, treinamento para corrida, flexibilidade, maternidade e muito
                    mais.
                </p>
                <button>Comece uma jornada</button>
            </div>
        </div>
        <img src="../../../assets/home/Cozinha.png" alt="Coach">
    </section>
    <section class="section-4">
        <div class="planos">
            <div class="planos-bg" style="background-image: url('../../../assets/home/plans/bg1.jpg')">
              <h1 class="p-header-txt">Escolha os melhores treinos. Treine com os melhores instrutores de Portugal e Angola</h1>
              <div class="planos-card">
                  <div class="swiper-container planos-swiper" style="height: 100%">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide plano-slide">
                        <h1 class="p-name">Plano Tecfit</h1>
                        <ul>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Treinos agendados e personalizados</h6>
                          </li>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Centenas de instrutores disponíveis</h6>
                          </li>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Acompanhamento nutricional</h6>
                          </li>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Várias modalidades de desporto</h6>
                          </li>
                        </ul>
    
                        <h4 class="see-d"><a href="#">Ver detalhes</a></h4>
    
    
                        <h4 class="p-price">por apenas <b>1.99€</b> por mês</h4>
                        <div class="start-section"><button class="tec-btn">Começar</button></div>
                      </div>
                      <div class="swiper-slide plano-slide">
                        <h1 class="p-name">Plano Nzinga</h1>
                        <ul>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Treinos agendados e personalizados</h6>
                          </li>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Centenas de instrutores disponíveis</h6>
                          </li>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Acompanhamento nutricional</h6>
                          </li>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Várias modalidades de desporto</h6>
                          </li>
                        </ul>
    
                        <h4 class="see-d"><a href="#">Ver detalhes</a></h4>
    
    
                        <h4 class="p-price">por apenas <b>4.99€</b> por mês</h4>
                        <div class="start-section"><button class="tec-btn">Começar</button></div>
                      </div>
                      <div class="swiper-slide plano-slide">
                        <h1 class="p-name">Plano Mandume</h1>
                        <ul>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Treinos agendados e personalizados</h6>
                          </li>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Centenas de instrutores disponíveis</h6>
                          </li>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Acompanhamento nutricional</h6>
                          </li>
                          <li class="list-item">
                            <img id="p-li-icon" src='../../../assets/home/plans/check-mark.svg' alt="">
                            <h6>Várias modalidades de desporto</h6>
                          </li>
                        </ul>
    
                        <h4 class="see-d"><a href="#">Ver detalhes</a></h4>
    
    
                        <h4 class="p-price">por apenas <b>8.99€</b> por mês</h4>
                        <div class="start-section"><button class="tec-btn">Começar</button></div>
                      </div>
                    </div>
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Navigation -->
                    <div class="tec-swiper-controllers">
                      <div class="swiper-btn-prev">
                        <img src='../../../assets/home/plans/prev.svg' alt="">
                      </div>
                      <div class="swiper-btn-next">
                        <img src='../../../assets/home/plans/next.svg' alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </section>
</main>
<app-footer></app-footer>