<header>
    <app-navbar></app-navbar>
</header>
<main>
    <div class="top">
        <div class="inner fade-in">
            <img src="../../../assets/home/tecfit-logo-black.png" alt="Logo">
            <h2 id="page-intro-title">Body-Mind-Soul</h2>
            <h3 id="page-intro-subtitle">Work Smarter. Eat Better. Live Forever</h3>
            <button type="submit">Entrar</button>
            <br>
            <button type="submit">Cadastre-se</button>
        </div>
    </div>
    <section id="section-1" class="cards-section">
        <div class="titles">
            <br>
            <h2>ENCONTRA O QUE TE MOVE</h2>
            <p>Quer você seja um iniciante ou queira acelerar sua rotina, tenha a experiência de estúdio completa em
                casa
                com milhares de aulas para corpo, mente e espírito.</p>
            <br>
        </div>
        <div class="container">
            <div class="cards row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img src="../../../assets/home/cards/0.jpg" alt="Coach">
                        <div class="card-description">
                            <h4>YOGA</h4>
                            <p>From Alguem bla bla bla...</p>
                        </div>
                        <br><br><br>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                        <br><br><br>
                        <img src="../../../assets/home/cards/0.jpg" alt="Coach">
                        <div class="card-description">
                            <h4>HITT</h4>
                            <p>From Alguem bla bla bla...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img src="../../../assets/home/cards/0.jpg" alt="Coach">
                        <div class="card-description">
                            <h4>YOGA</h4>
                            <p>From Alguem bla bla bla...</p>
                        </div>
                        <br><br><br>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card">
                        <br><br><br>
                        <img src="../../../assets/home/cards/0.jpg" alt="Coach">
                        <div class="card-description">
                            <h4>DANÇA</h4>
                            <p>From Alguem bla bla bla...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <img src="../../../assets/home/3d-card2.jpg" alt="Coach">
        <div class="flex">
            <div class="description">
                <h2>
                    Faça programas adaptados aos seu objetivo
                </h2>
                <p>
                    Planos semanais para perda de peso,
                    treinamento para corrida, flexibilidade,
                    maternidade e muito mais.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit modi nobis, deleniti ipsum eos quod
                    corrupti aliquid odio dolore placeat cum vero obcaecati odit architecto atque ad nisi molestiae?
                    Tempora!
                </p>
                <button>Comece uma jornada</button>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="flex">
            <div class="description">
                <h2>
                    Faça pratos adaptados ao seu objectivo
                </h2>
                <p>
                    Planos semanais para perda de peso, treinamento para corrida, flexibilidade, maternidade e muito
                    mais.
                </p>
                <button>Comece uma jornada</button>
            </div>
        </div>
        <img src="../../../assets/home/Cozinha.png" alt="Coach">
    </section>
</main>
<app-footer></app-footer>