.top {
  background-color: black;
  // background-image: url("../../../assets/home/home-img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  text-align: center;

  img {
    padding-bottom: 25px;
    width: 200px;
  }

  h2,
  h3 {
    white-space: nowrap;
    color: white;
    padding: 10px;
  }

  button {
    width: 200px;
  }
}

#page-intro-title {
  font-size: 40px;
}

#page-intro-subtitle {
  font-size: 30px;
}

@media (max-width: 400px) {
  #page-intro-title {
    font-size: 30px;
  }

  #page-intro-subtitle {
    font-size: 20px;
  }
}

/*******************************/

.titles {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;

  img {
    width: 250px;
  }
}

.card {
  margin: 0px 50px;
  border: 0px;
}

/*******************************/

.section-2 {
  display: flex;
  background-color: gray;

  img {
    width: 50%;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .description {
    padding: 0vw 7vw;
  }
}

/*******************************/


