<footer class="text-lg-start d-none d-md-block footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="footer-left">
          <ul>
            <li><a href="/terms">Privacy policy</a></li>
            <li><a href="/terms">Terms & conditions</a></li>
            <li><a href="">FAQS</a></li>
            <li><a href="">Return & changes</a></li>
          </ul>
          <img src="../../../../assets/home/AppStore.png" class="store-image" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-center text-center">
          <img
            src="../../../../assets/footer/tecfit-logo.png"
            alt="logo"
            class="mx-auto"
          />
          <div class="d-flex justify-content-center">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""> <i class="bi bi-instagram ms-5"></i></a>
            <a href=""><i class="bi bi-twitter ms-5"></i></a>
          </div>
          <hr />
          <!-- <form>
                        <mat-form-field appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text">
                         
                        
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email">
                           
                          </mat-form-field>
                    </form> -->
        </div>
      </div>
      <div class="col-md-5">
        <div class="footer-right text-end">
          <ul>
            <li><a href="/workouts" >Treino</a></li>
            <li><a href="/nutrition">Multiprotein</a></li>
            <li><a href="/about-us" >Corporate</a></li>
            <li><a href="/ambassador">Ambassadors</a></li>
            <!-- <li><a href="">Store</a></li> -->
          </ul>
          <img
            src="../../../../assets/home/PlayStore.png"
            class="store-image"
          />
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="footer-mobile d-md-none d-block footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-center text-center">
          <img
            src="../../../../assets/footer/tecfit-logo.png"
            alt="logo"
            class="mx-auto"
          />
          <div class="d-flex justify-content-center mx-auto">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""> <i class="bi bi-instagram ms-5"></i></a>
            <a href=""><i class="bi bi-twitter ms-5"></i></a>
          </div>
        </div>

        <div class="d-flex pt-5">
          <div class="footer-left text-start">
            <ul>
              <li><a href="/terms">Privacy policy</a></li>
              <li><a href="/terms">Terms & conditions</a></li>
              <li><a href="">FAQS</a></li>
              <li><a href="">Return & changes</a></li>
            </ul>
          
          </div>
          <div class="footer-right text-end">
            <ul>
              <li><a href="/workouts" >Treino</a></li>
              <li><a href="/nutrition">Multiprotein</a></li>
              <li><a href="/about-us" >Corporate</a></li>
              <li><a href="/ambassador">Ambassadors</a></li>
              <!-- <li><a href="">Store</a></li> -->
            </ul>
            
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-start">
            <img
            src="../../../../assets/home/AppStore.png"
            class="store-image"
          />
          <img
              src="../../../../assets/home/PlayStore.png"
              class="store-image"
            />
        </div>
      </div>
    </div>
  </div>
</footer>
