<footer class="text-lg-start">
<!--     
    <div class="container p-4">
      
        <div class="row">
           
            <div class="col-lg col-md mb mb-md">
                <img src="../../../../assets/footer/tecfit-logo.png" alt="logo" width="100" style="float: left;">
            </div>
          
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0 p-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <h4 class="text-uppercase text-light">Produtos</h4>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Aulas</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Aulas Privadas</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Blog</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Loja</a>
                    </li>
                </ul>
            </div>
     
            <div class="redes col-lg-2 col-md-6 mb-4 mb-md-0 p-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <h4 class="text-uppercase text-light">Social</h4>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Instagram</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Youtube</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Twitter</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Linkedin</a>
                    </li>
                </ul>
            </div>
 
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0 p-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <h4 class="text-uppercase text-light">Parcerias</h4>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Tornar-se Coach</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Embaixador</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Vender na Loja</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Desenvolvedor</a>
                    </li>
                </ul>
            </div>
       
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0 p-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <h4 class="text-uppercase text-light">Acerca</h4>
                    </li>
                    <li>
                        <a routerLink="/about-us" class="text-light">Quem Somos</a>
                    </li>
                </ul>
            </div>
           
        </div>
      
        <div class="text-left text-light">
            © Tecfit Group
        </div>
    
    </div>  -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-left">
                    <ul>
                        <li><a href="">Privacy policy</a></li>
                        <li><a href="">Terms & conditions</a></li>
                        <li><a href="">FAQS</a></li>
                        <li><a href="">Return & changes</a></li>
                    </ul>
                    <img src="../../../../assets/home/AppStore.png" class="store-image">
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-center text-center">
                    <img  src="../../../../assets/footer/tecfit-logo.png" alt="logo" class="mx-auto">
                    <div class="d-flex justify-content-center">
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""> <i class="bi bi-instagram ms-5"></i></a>
                        <a href=""><i class="bi bi-twitter ms-5"></i></a>
                    </div>
                    <hr>
                    <!-- <form>
                        <mat-form-field appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text">
                         
                        
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email">
                           
                          </mat-form-field>
                    </form> -->
                </div>
            </div>
            <div class="col-md-5">
                <div class="footer-right text-end">
                    <ul>
                        <li><a href="">Treino</a></li>
                        <li><a href="">Multiprotein</a></li>
                        <li><a href="">Corporate</a></li>
                        <li><a href="">Ambassadors</a></li>
                        <li><a href="">Store</a></li>
                    </ul>
                    <img src="../../../../assets/home/PlayStore.png" class="store-image">
                </div>
            </div>
        </div>
    </div>
</footer>