<footer class="text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg col-md mb mb-md">
                <img src="../../../../assets/footer/tecfit-logo.png" alt="logo" width="100" style="float: left;">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0 p-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <h4 class="text-uppercase text-light">Produtos</h4>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Aulas</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Aulas Privadas</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Blog</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Loja</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="redes col-lg-2 col-md-6 mb-4 mb-md-0 p-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <h4 class="text-uppercase text-light">Social</h4>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Instagram</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Youtube</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Twitter</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Linkedin</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0 p-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <h4 class="text-uppercase text-light">Parcerias</h4>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Tornar-se Coach</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Embaixador</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Vender na Loja</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">Desenvolvedor</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0 p-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <h4 class="text-uppercase text-light">Acerca</h4>
                    </li>
                    <li>
                        <a routerLink="/about-us" class="text-light">Quem Somos</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!-- Copyright -->
        <div class="text-left text-light">
            © Tecfit Group
        </div>
        <!-- Copyright -->
    </div>
</footer>