<footer>
    <ul>
        <li>
            <a href="#">VER SUBSCRIÇÃO</a>
        </li>
        <li>
            <a href="#">SUPORTE</a>
        </li>
        <li>
            <a href="#">LOJA TECFIT</a>
        </li>
        <div>
            <li>
                <a href="#"><i class="bi bi-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="bi bi-youtube"></i></a>
            </li>
        </div>
    </ul>
</footer>
