section {
  background-color: black;

  h2 {
    color: white;
    font-size: 2rem;
  }

  .card {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: none;

    display: flex;
    justify-content: center;
    text-align: center;
  }

  #loseW {
    background-image: url("../../../../assets/programs/loseW.png");
  }

  #stamina {
    background-image: url("../../../../assets/programs/stamina.png");
  }

  #mobility {
    background-image: url("../../../../assets/programs/mobility.png");
  }

  #gainM {
    background-image: url("../../../../assets/programs/gainM.png");
  }
}
