<section id="programs">
    <br>
    <h2>
        &nbsp;&nbsp; {{ "HOME.OURPROGRAMS" | translate }}
    </h2>
    <br>
    <div>
        <!-- <swiper #slides class="swiper" (swiper)="onSwiper($event)" [spaceBetween]="60"
            [breakpoints]="{
            '700': {
              slidesPerView: 2
            },
            '1000': {
              slidesPerView: 3
            },
            '1200': {
              slidesPerView: 4
            }
          }">
            <ng-template swiperSlide>
                <div id="loseW" class="card">
                    <h2>{{ "HOME.LOSEW" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="stamina" class="card">
                    <h2>{{ "HOME.STAMINA" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="mobility" class="card">
                    <h2>{{ "HOME.MOBILITY" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="gainM" class="card">
                    <h2>{{ "HOME.GAINMUSCLE" | translate }}</h2>
                </div>
            </ng-template>
        </swiper> -->

        <swiper [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true"
            [slidesPerView]="2" [loop]="false" [coverflowEffect]="{
          rotate: 0,
          stretch: 0,
          depth: 500,
          modifier: 1,
          slideShadows: true
        }" [pagination]="false" class="mySwiper">
            <ng-template swiperSlide>
                <div id="loseW" class="card">
                    <h2>{{ "HOME.LOSEW" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="stamina" class="card">
                    <h2>{{ "HOME.STAMINA" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="mobility" class="card">
                    <h2>{{ "HOME.MOBILITY" | translate }}</h2>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div id="gainM" class="card">
                    <h2>{{ "HOME.GAINMUSCLE" | translate }}</h2>
                </div>
            </ng-template>
        </swiper>

    </div>
    <br><br>
</section>