section {
  background-color: black;

  h2 {
    color: white;
    font-size: 2rem;
  }

  .card {
    border-radius: 10px;
    border: none;

    display: flex;
    justify-content: center;
    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 70%;

    margin-left: 15%;
    
  }

  /* #loseW {
    background-image: url("../../../../assets/programs/loseW.png");
  }

  #stamina {
    background-image: url("../../../../assets/programs/stamina.png");
  }

  #mobility {
    background-image: url("../../../../assets/programs/mobility.png");
  }

  #gainM {
    background-image: url("../../../../assets/programs/gainM.png");
  } */
}

#swiper-div {
  width: 80%;
  margin: auto;

  margin-bottom: 5rem;
}

@media (max-width: 1000px) {
  section {
    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 700px) {
  section {
    h2 {
      font-size: 1.5rem;
    }
  
    .card {
      height: 40vh;
    }
  }
}