<section class="container-fluid">

    <div class="top row pt-3">
        <div class="col col-md-10">
            <h2>FitBlog</h2>
            <p>The place where knowledge is shared in order to help you to achieve your goals</p>
        </div>
        <div class="col col-md-2">
            <button>Vistit our blog</button>
        </div>
    </div>

    <div class="cards row mt-3 pb-5">
        <div class="col col-md-4">
            <div class="card">
                <img src="assets/fitBlog/composure.jpeg" alt="Composure" class="img-fluid">
                <small>Composure</small>
                <h4>How your composure <br> affects your results?</h4>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card">
                <img src="assets/fitBlog/food.jpeg" alt="Food" class="img-fluid">
                <small>Food</small>
                <h4>Balanced meals benefits</h4>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card">
                <img src="assets/fitBlog/motivation.jpeg" alt="Motivation" class="img-fluid">
                <small>Motivation</small>
                <h4>To dare is to do</h4>
            </div>
        </div>
    </div>

</section>