section {
  background-image: url("../../../../assets/prices/pickyourplan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
  }

  .card {
    height: 70vh;
    background-color: white;
    text-align: center;

    button {
      width: 5rem;
      align-self: center;
    }

    h3 {
      font-size: 2rem;
      font-weight: 600;
    }

    .list-item {
      margin-bottom: 1.5rem;
      padding: 0px 20px;
      display: flex;
      align-content: center;
    }

    #p-li-icon {
      width: 22px;
      margin-left: 0px;
      vertical-align: middle;
    }

    ul {
      padding: 0px 0px;
      text-align: center;
    }

    li {
      display: flex;
      list-style-type: none;
      h6 {
        margin-bottom: 0px;
        font-size: 1rem;
        text-align: center;
        width: 100%;
      }
    }
  }
}
