<section class="pb-5">
  <h2 class="pt-5 pb-5">Pick your Premium</h2>
  <swiper class="swiper" [loop]="false" [spaceBetween]="20" [autoplay]="true" [breakpoints]="{
        '0': {
          slidesPerView: 1
        },
        '768': {
          slidesPerView: 2
        },
        '900': {
            slidesPerView: 3
          },
        '1200': {
          slidesPerView: 4
        }
      }">
    <ng-template swiperSlide>
      <div class="card">
        <h3 class="mt-5 mb-5">Plano Individual</h3>

        <ul>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT1" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT2" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT3" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT4" | translate }}</h6>
          </li>
        </ul>

        <a href="#">Ver Detalhes</a>

        <h4 class="mt-3">1.99€ por mês</h4>

        <button>Começar</button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card">
        <h3 class="mt-5 mb-5">Plano Individual</h3>

        <ul>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT1" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT2" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT3" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT4" | translate }}</h6>
          </li>
        </ul>

        <a href="#">Ver Detalhes</a>

        <h4 class="mt-3">1.99€ por mês</h4>

        <button>Começar</button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card">
        <h3 class="mt-5 mb-5">Plano Individual</h3>

        <ul>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT1" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT2" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT3" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT4" | translate }}</h6>
          </li>
        </ul>

        <a href="#">Ver Detalhes</a>

        <h4 class="mt-3">1.99€ por mês</h4>

        <button>Começar</button>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card">
        <h3 class="mt-5 mb-5">Plano Individual</h3>

        <ul>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT1" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT2" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT3" | translate }}</h6>
          </li>
          <li class="list-item">
            <img id="p-li-icon" src='assets/home/plans/check-mark.svg' alt="">
            <h6>{{ "PLANS.PLAN1.POINT4" | translate }}</h6>
          </li>
        </ul>

        <a href="#">Ver Detalhes</a>

        <h4 class="mt-3">1.99€ por mês</h4>

        <button>Começar</button>
      </div>
    </ng-template>
  </swiper>
</section>