// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone-450 {
    @media only screen and (max-width: 28.125em) {
      @content;
    } //576px
  }

  @if $breakpoint == bootstrap_576 {
    @media only screen and (max-width: 36em) {
      @content;
    } //576px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == bootstrap_768 {
    @media only screen and (max-width: 47.8em) {
      @content;
    } //768px
  }

  @if $breakpoint == tab-850 {
    @media only screen and (max-width: 53.125em) {
      @content;
    } //850px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 62em) {
      @content;
    } //992px
  }

  @if $breakpoint == tab-1100 {
    @media only screen and (max-width: 68.75em) {
      @content;
    } //1100px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }

  @if $breakpoint == big-desktop-1 {
    @media only screen and (max-width: 93.75em) {
      @content;
    } //1500
  }

  @if $breakpoint == big-desktop-2 {
    @media only screen and (max-width: 112.5em) {
      @content;
    } //1800
  }
}

#mobile {
  display: none;
  background-color: #239f3a;
  text-align: center;
}

@media(max-width: 800px) {
  #mobile {
    display: block;

    button {
      margin: 2rem 0rem;
    }
  }
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/nutrition/first.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;

  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    @include respond(bootstrap_768) {
      font-size: 2.2rem;
    }

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }
}

.info-app {
  padding: 5rem 0;
  .info {
    h2 {
      font-size: 2.4rem;

      @include respond(tab-port) {
        font-size: 2rem;
      }
    }

    h4 {
      font-size: 1.8rem;
      color: #239f3a;

      @include respond(tab-port) {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: justify;
      font-family: "amiri";

      @include respond(tab-port) {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      @include respond(phone) {
        padding: 0 2rem;
      }
    }
  }

  .img-fluid {
    max-width: 75%;
  }

  .btn-primary {
    background-color: #239f3a;
    border-color: #239f3a;
    border-radius: 5px;
  }

  .btn-primary {
  }

  .app {
    .img-fluid {
      max-width: 40%;

      @include respond(tab-port) {
        max-width: 46%;
      }
    }
  }
}

.info-app-mobile {
  .img-fluid {
    @include respond(tab-land) {
      max-width: 35%;
    }

    @include respond(tab-port) {
      max-width: 50%;
    }

    @include respond(phone) {
      max-width: 100%;
    }
  }
}

.section-video {
  /* padding: 3rem; */
  background-color: #239f3a;
  height: 50rem;

  @include respond(phone) {
    /* padding: 1.5rem; */
    height: 30rem;
  }

  #video {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../../../assets/home/receipt-image.jpg');
    background-position: center;
    background-size: cover;

    @include respond(phone) {
      height: 100%;
    }

    i {
      font-size: 5rem;
      color: black;
    }
    i:hover {

      color: white;
      cursor: pointer;
    }
  }

  video {
      display: none;
  }
}

.desc {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;

  div {
    text-align: center;
    margin: 0px 20px;

    h1 {
      b {
        font-size: larger;
      }
    }
  }
}

.hover {
  display: flex;
}

.hover:hover {
  .desc {
    display: flex;
  }
}

iframe{
  width:560px;
  height:315px;

  @include respond(tab-850){
    width: 460px;
    height: 215px;
  }

  @include respond(phone){
    width: 100%;
    height: 100%;
  }
}
