<header>
  <app-navbar></app-navbar>
  <section class="header">
    <h1 style="text-align: center;">Nutrilife <br>
      <button style="margin-top: 2rem; height: 3rem; padding: 0px; width: 9rem; font-size: 1rem; background-color: #239f3a;">{{ "NAVBAR.BTN" | translate }}</button>
    </h1>
  </section>
</header>
<!-- <section id="mobile">

  <button>{{ "NAVBAR.BTN" | translate }}</button>

</section> -->
<section class="info-app">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="info text-center text-md-start">
          <h2>{{ "NUTRILIFE.TITLE1" | translate }}</h2>
          <br>
          <h4>{{ "NUTRILIFE.TITLE2" | translate }}</h4>
          <br>
          <p>
            {{ "NUTRILIFE.TEXT" | translate }}
          </p>
        </div>
        <div class="d-xl-flex mt-5 justify-content-between d-none ">
          <a href="#" class="text-end"><img src="assets/home/AppStore.png" class="img-fluid" /></a>
          <a href="#"><img src="assets/home/PlayStore.png" class="img-fluid" /></a>
        </div>
        <div class="text-center mt-5 d-xl-block d-none">
          <!-- <button class="btn btn-primary">Comece uma jornada</button> -->
        </div>
      </div>


      <div class="col-md-6">
        <div class="d-md-flex ms-5 d-none justify-content-between app">
          <img src="assets/nutrition/phone2.png" width="100%" />
          <!-- <img src="assets/nutrition/Grupo 4068.jpg" class="img-fluid" /> -->
          <!-- <img src="assets/nutrition/Grupo 4074.jpg" class="img-fluid" /> -->
        </div>

        <div class="d-md-none d-block text-center app">
          <img src="assets/nutrition/Imagem 40.jpg" class="img-fluid mx-auto" />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="d-flex info-app-mobile justify-content-center d-xl-none mt-5">
        <a href="#" class="text-end me-5"><img src="assets/home/AppStore.png" class="img-fluid" /></a>
          <a href="#" c class="text-start ms-5"><img src="assets/home/PlayStore.png" class="img-fluid " /></a>
      </div>
      <div class="text-center d-block mt-3 d-xl-none">
        <!-- <button class="btn btn-primary">Comece uma jornada</button> -->
      </div>
    </div>
  </div>
</section>

<section class="section-video text-center">

  <div id="video">
    <i class="bi bi-play-circle" (click)="openDialog()"></i>
  </div>

</section>

<section style="background-color: #239f3a;">
  <br>
</section>
<swiper class="swiper" [loop]="true" [spaceBetween]="0" [autoplay]="true" (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()" [breakpoints]="{
    '0': {
      slidesPerView: 2
    },
    '768': {
      slidesPerView: 4
    },
    '1024': {
      slidesPerView: 4
    }
  }">
  <ng-template swiperSlide>
    <!-- <div class="hover">
      <div class="fade-in fade-out desc">
        <div>
          <h1><b>{{ "NUTRILIFE.CARD1" | translate }}</b></h1>
        </div>
      </div>
    </div> -->
    <img src="assets/nutrition/1.jpeg" class="img-fluid" />
  </ng-template>
  <ng-template swiperSlide>
    <!-- <div class="hover">
      <div class="fade-in fade-out desc">
        <div>
          <h1><b>{{ "NUTRILIFE.CARD2" | translate }}</b></h1>
        </div>
      </div>
    </div> -->
    <img src="assets/nutrition/2.jpeg" class="img-fluid" />
  </ng-template>
  <ng-template swiperSlide>
    <!-- <div class="hover">
      <div class="fade-in fade-out desc">
        <div>
          <h1><b>{{ "NUTRILIFE.CARD3" | translate }}</b></h1>
        </div>
      </div>
    </div> -->
    <img src="assets/nutrition/3.jpeg" class="img-fluid" />
  </ng-template>
  <ng-template swiperSlide>
    <!-- <div class="hover">
      <div class="fade-in fade-out desc">
        <div>
          <h1><b>{{ "NUTRILIFE.CARD4" | translate }}</b></h1>
        </div>
      </div>
    </div> -->
    <img src="assets/nutrition/4.jpeg" class="img-fluid" />
  </ng-template>
</swiper>
<app-footer></app-footer>