section {
  background-color: #b6b6b6;

  .desc {
    text-align: center;
    h3 {
      margin-left: 4rem;
      text-align: left;
      color: white;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2rem;
    }

    button {
      width: 15rem;
      font-size: 1.5rem;
    }
  }

  img {
    width: 70%;
  }
}
