<section class="container-fluid pt-5 pb-5">
    <div class="row">
        <div class="col" style="display: flex; justify-content: center; align-items: center;">
            <div class="desc">
                <h3 class="mb-5">
                    Train anytime and anywhere with the best prices and experience.
                </h3>
                <button class="mt-2">
                    Learn More
                </button>
            </div>
        </div>
        <div class="col" style="text-align: center;">
            <img class="img-fluid" src="assets/prices/last.jpeg" alt="Girl">
        </div>
    </div>
</section>