<header>
    <app-navbar></app-navbar>
    <br><br>
    <div>
        <h3>{{ "COOKIES.TOP" | translate }}</h3>
    </div>
</header>
<main>
    <section class="row">
        <div id="left" class="col">
            <br>
            <p>
                <!-- {{ "CONTACTS.TEXT1" | translate }} -->
                Below are some of the cookies that we and our partners use on Tecfit services. The specific cookies we
                use change over time and may vary from those described below. For more information on why we use cookies
                and the choices you have, please read our Cookie Use statement.
            </p>
        </div>
    </section>
    <div id="final-section">
    </div>
</main>
<app-footer>
</app-footer>