<section class="container-fluid">
    <div class="row">
        <div class="col mb-5" style="display: flex; align-items: flex-end;">
            <div style="margin: 0px 2rem; padding-bottom: 4rem;">
                <h4 class="mb-4">The Company</h4>
                <br>
                <h2 class="mt-4">
                    Tecfit is a fitness app
                    developed by Tecside-
                    a company founded in Angola
                </h2>
            </div>
        </div>
        <div class="col">
            <img src="assets/about-us/newTop.jpeg" alt="Top Image" class="img-fluid">
        </div>
    </div>
</section>