<div id="mobile">
    <swiper [autoplay]="true" [navigation]="true" [centeredSlides]="true" [breakpoints]="{
    '700': {
      slidesPerView: 1
    },
    '1000': {
      slidesPerView: 1
    },
    '1200': {
      slidesPerView: 1
    }}" [spaceBetween]="0" [loop]="false" [pagination]="false">
        <ng-template swiperSlide>
            <div class="top-slide" style="background-color: #060D17;">
                <br>
                <i><img width="60rem" src="assets/home/icons/1.svg" alt=""></i>
                <br><br>
                <h1>More than 150 workouts</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quae excepturi, in
                    inventore recusandae illo assumenda perferendis sed laudantium eum corrupti iusto. At
                    delectus ipsum ut nihil nobis nesciunt aspernatur?
                </p>
                <img width="70%" src="assets/nutrition/phone2.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="top-slide" style="background-color: #060D17;">
                <br>
                <i><img width="60rem" src="assets/home/icons/1.svg" alt=""></i>
                <br><br>
                <h1>More than 150 workouts</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quae excepturi, in
                    inventore recusandae illo assumenda perferendis sed laudantium eum corrupti iusto. At
                    delectus ipsum ut nihil nobis nesciunt aspernatur?
                </p>
                <img width="70%" src="assets/nutrition/phone2.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="top-slide" style="background-color: #060D17;">
                <br>
                <i><img width="60rem" src="assets/home/icons/1.svg" alt=""></i>
                <br><br>
                <h1>More than 150 workouts</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quae excepturi, in
                    inventore recusandae illo assumenda perferendis sed laudantium eum corrupti iusto. At
                    delectus ipsum ut nihil nobis nesciunt aspernatur?
                </p>
                <img width="70%" src="assets/nutrition/phone2.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="top-slide" style="background-color: #060D17;">
                <br>
                <i><img width="60rem" src="assets/home/icons/1.svg" alt=""></i>
                <br><br>
                <h1>More than 150 workouts</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quae excepturi, in
                    inventore recusandae illo assumenda perferendis sed laudantium eum corrupti iusto. At
                    delectus ipsum ut nihil nobis nesciunt aspernatur?
                </p>
                <img width="70%" src="assets/nutrition/phone2.png" alt="">
            </div>
        </ng-template>
    </swiper>
</div>