<div id="mobile">
    <swiper [autoplay]="true" [navigation]="true" [centeredSlides]="true" [breakpoints]="{
    '700': {
      slidesPerView: 1
    },
    '1000': {
      slidesPerView: 1
    },
    '1200': {
      slidesPerView: 1
    }}" [spaceBetween]="0" [loop]="false" [pagination]="false">
        <ng-template swiperSlide>
            <div class="top-slide" style="background-color: #060D17;">
                <br>
                <i><img width="60rem" src="assets/home/icons/1.svg" alt=""></i>
                <br><br>
                <h1>{{ "HOME.PHONETITLE1" | translate }}</h1>
                <br>
                <p>
                    {{ "HOME.PHONEDESC1" | translate }}
                </p>
                <img width="70%" src="assets/nutrition/phone2.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="top-slide" style="background-color: #1d381e;">
                <br>
                <i><img width="60rem" src="assets/home/icons/2.svg" alt=""></i>
                <br><br>
                <h1>{{ "HOME.PHONETITLE2" | translate }}</h1>
                <br>
                <p>
                    {{ "HOME.PHONEDESC2" | translate }}
                </p>
                <img width="70%" src="assets/nutrition/phone2.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="top-slide" style="background-color: #311414;">
                <br>
                <i><img width="60rem" src="assets/home/icons/3.svg" alt=""></i>
                <br><br>
                <h1>{{ "HOME.PHONETITLE3" | translate }}</h1>
                <br>
                <p>
                    {{ "HOME.PHONEDESC3" | translate }}
                </p>
                <img width="70%" src="assets/nutrition/phone2.png" alt="">
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="top-slide" style="background-color: #220726;">
                <br>
                <i><img width="60rem" src="assets/home/icons/4.svg" alt=""></i>
                <br><br>
                <h1>{{ "HOME.PHONETITLE4" | translate }}</h1>
                <br>
                <p>
                    {{ "HOME.PHONEDESC4" | translate }}
                </p>
                <img width="70%" src="assets/nutrition/phone2.png" alt="">
            </div>
        </ng-template>
    </swiper>
</div>