section {
  .title-desc-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    div {
      h2 {
        font-size: 3rem;
        font-weight: 400;
      }
      p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0px 6rem;
      }
    }
  }

  .col {
    text-align: center;
  }
  img {
    width: 75%;
  }
}
