<section class="container-fluid">
    <div class="row">
        <div class="col title-desc-container">
            <div class="">
                <h2 class="mb-5">
                    Don't miss a squat.
                </h2>
                <p class="pt-3">
                    Fitness programs are not one size
                    fits all, and Soba is aware of this.
                    Transform your body, and mind
                    with a program tailored to your goals.
                </p>
            </div>
        </div>
        <div class="col mt-2 mb-2">
            <div class="row mt-5 mb-5">
                <div class="col">
                    <img src="assets/fitBlog/motivation.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col">
                    <img src="assets/prices/2.jpeg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <img src="assets/prices/3.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col">
                    <img src="assets/prices/4.jpeg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>