<header>
  <app-navbar></app-navbar>
</header>
<main class="about">
  <section class="section-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ "ABOUT.TITTLE" | translate }}</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="section-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h6>{{ "ABOUT.SECONDTITTLE" | translate }}</h6>
        </div>
      </div>
    </div>
  </section>

  <section class="section-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="image-box">
            <div class="box-text d-none">
              <h2 class="mb-3 text-center">{{ "ABOUT.BEHINDTECFIT" | translate }}</h2>
              <p>
                {{ "ABOUT.BEHINDTECFITDESC1" | translate }}
              </p>
              <p>
                {{ "ABOUT.BEHINDTECFITDESC2" | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="box-text ">
            <h2 class="mb-3">{{ "ABOUT.BEHINDTECFIT" | translate }}</h2>
            <p>
              {{ "ABOUT.BEHINDTECFITDESC1" | translate }}
            </p>
            <p>
              {{ "ABOUT.BEHINDTECFITDESC2" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="timeline">
            <h1>Timeline</h1>
            <horizontal-timeline id="timeline-pt" [timelineElements]="timeline" [showContent]="true">
            </horizontal-timeline>
            <horizontal-timeline id="timeline-en" [timelineElements]="timeline2" [showContent]="true">
            </horizontal-timeline>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-5">
    <h1>"Creative minds work together"</h1>

    <div class="mission text-center d-block d-md-none">
      <h2 class="mb-2">{{ "ABOUT.OURMISSION" | translate }}</h2>
      <div class="col-md-4">
        <!-- <i class="bi bi-pin-map"></i>  -->
        <p style="line-height: 35px;">{{ "ABOUT.MISSION1" | translate }}</p>
      </div>
      <!-- <div class="col-md-4">
        <p>{{ "ABOUT.MISSION2" | translate }}</p>
      </div>
      <div class="col-md-4">
        <p>{{ "ABOUT.MISSION3" | translate }}</p>
      </div> -->
      <!-- <div class="col-md-3">
        <p>Lorem ipsum dolor</p>
      </div> -->
    </div>
  </section>

  <section class="section-6 d-md-block d-none">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-5">{{ "ABOUT.OURMISSION" | translate }}</h2>
        </div>
        <div class="row mb-4 mission">
          <!-- <i class="bi bi-pin-map"></i>  -->
          <p style="line-height: 35px;">{{ "ABOUT.MISSION1" | translate }}</p>
        </div>
        <!-- <div class="row mb-4 mission">
          <p>{{ "ABOUT.MISSION2" | translate }}</p>
        </div>
        <div class="row mb-4 mission">
          <p>{{ "ABOUT.MISSION3" | translate }}</p>
        </div> -->
        <!-- <div class="col-md-3">
          <p>Lorem ipsum dolor</p>
        </div> -->
      </div>
    </div>
  </section>

  <section class="section-7">
    <div class="container-fluid container-md">
      <div class="row">
        <div class="col-12">
          <h2 class="d-sm-none d-block text-center">{{ "ABOUT.CONTACTUS" | translate }}</h2>
          <p class="d-sm-none d-block text-center">{{ "ABOUT.CHOOSEENQUIRY" | translate }}</p>
          <div class="d-flex justify-content-around align-items-center juify-content-between">
            <img class="img-fluid" src="assets/about-us/corporate-photos/third2.png" />
            <div class="text-center">
              <h2 class="d-none d-sm-block">{{ "ABOUT.CONTACTUS" | translate }}</h2>
              <p class="d-none d-sm-block">{{ "ABOUT.CHOOSEENQUIRY" | translate }}</p>
              <div class="d-block d-md-flex">
                <button class="btn btn-primary">{{ "ABOUT.ENQUERY1-1" | translate }} <br class="d-none d-md-block">{{
                  "ABOUT.ENQUERY1-2" | translate }}</button>
                <button class="btn btn-primary">{{ "ABOUT.ENQUERY2" | translate }}</button>
              </div>
              <div class="d-block d-md-flex">
                <button class="btn btn-primary">{{ "ABOUT.ENQUERY3-1" | translate }}<br class="d-none d-md-block"> {{
                  "ABOUT.ENQUERY3-2" | translate }}</button>
                <button class="btn btn-primary">{{ "ABOUT.ENQUERY4-1" | translate }} <br class="d-none d-md-block">{{
                  "ABOUT.ENQUERY4-2" | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <swiper class="swiper d-none d-md-block" [autoplay]="false" (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()" [breakpoints]="{
      '640': {
        slidesPerView: 2
      },
      '768': {
        slidesPerView: 2
      },
      '1024': {
        slidesPerView: 3
      },
      '1200': {
        slidesPerView: 4
      }
    }">
    <ng-template swiperSlide class="center">
      <div class="hover">
        <div class="fade-in fade-out desc">
          <div>
            <h1>{{ "ABOUT.VANILSON.NAME" | translate }}</h1>
            <br>
            <h4>{{ "ABOUT.VANILSON.ROLE" | translate }}</h4>
            <br>
            <p>{{ "ABOUT.VANILSON.DESC" | translate }}</p>
          </div>
        </div>
        <img class="person-img" src="assets/about-us/corporate-photos/persons/vanilson.jpg" width="390px" />
      </div>
    </ng-template>
    <!-- <ng-template swiperSlide class="center">
      <div class="hover">
        <div class="fade-in fade-out desc">
          <div>
            <h1>{{ "ABOUT.FERNANDO.NAME" | translate }}</h1>
            <br>
            <h4>{{ "ABOUT.FERNANDO.ROLE" | translate }}</h4>
            <br>
            <p>{{ "ABOUT.FERNANDO.DESC" | translate }}</p>
          </div>
        </div>
        <img class="person-img" src="../../../assets/about-us/corporate-photos/persons/fernando.jpg" width="390px" />
      </div>
    </ng-template> -->
    <ng-template swiperSlide class="center">
      <div class="hover">
        <div class="fade-in fade-out desc">
          <div>
            <h1>{{ "ABOUT.GUILHERME.NAME" | translate }}</h1>
            <br>
            <h4>{{ "ABOUT.GUILHERME.ROLE" | translate }}</h4>
            <br>
            <p>{{ "ABOUT.GUILHERME.DESC" | translate }}</p>
          </div>
        </div>
        <img class="person-img" src="assets/about-us/corporate-photos/persons/guilherme.jpg" width="390px" />
      </div>
    </ng-template>
    <ng-template swiperSlide class="center">
      <div class="hover">
        <div class="fade-in fade-out desc">
          <div>
            <h1>{{ "ABOUT.REJANNE.NAME" | translate }}</h1>
            <br>
            <h4>{{ "ABOUT.REJANNE.ROLE" | translate }}</h4>
            <br>
            <p>{{ "ABOUT.REJANNE.DESC" | translate }}</p>
          </div>
        </div>
        <img class="person-img" src="assets/about-us/corporate-photos/persons/rejane.jpg" width="390px" />
      </div>
    </ng-template>
    <ng-template swiperSlide class="center">
      <div class="hover">
        <div class="fade-in fade-out desc">
          <div>
            <h1>{{ "ABOUT.DAVID.NAME" | translate }}</h1>
            <br>
            <h4>{{ "ABOUT.DAVID.ROLE" | translate }}</h4>
            <br>
            <p>{{ "ABOUT.DAVID.DESC" | translate }}</p>
          </div>
        </div>
        <img class="person-img" src="assets/about-us/corporate-photos/persons/david.jpg" width="390px" />
      </div>
    </ng-template>
    <ng-template swiperSlide class="center">
      <div class="hover">
        <div class="fade-in fade-out desc">
          <div>
            <h1>{{ "ABOUT.DANIEL.NAME" | translate }}</h1>
            <br>
            <h4>{{ "ABOUT.DANIEL.ROLE" | translate }}</h4>
            <br>
            <p>{{ "ABOUT.DANIEL.DESC" | translate }}</p>
          </div>
        </div>
        <img class="person-img" src="assets/about-us/corporate-photos/persons/daniel.jpg" width="390px" />
      </div>
    </ng-template>
    <ng-template swiperSlide class="center">
      <div class="hover">
        <div class="fade-in fade-out desc">
          <div>
            <h1>{{ "ABOUT.DIEGO.NAME" | translate }}</h1>
            <br>
            <h4>{{ "ABOUT.DIEGO.ROLE" | translate }}</h4>
            <br>
            <p>{{ "ABOUT.DIEGO.DESC" | translate }}</p>
          </div>
        </div>
        <img class="person-img" src="assets/about-us/corporate-photos/persons/diego.jpg" width="390px" />
      </div>
    </ng-template>
  </swiper>
</main>
<app-footer></app-footer>