<!-- <section id="web">
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col desc">
        <div>
          <h2>
            {{ "HOME.TITLE1" | translate }}
          </h2>
          <p>
            {{ "HOME.DESC1" | translate }}
          </p>
          <div class="btn-container">
            <button>{{ "HOME.BTN1" | translate }}</button>
            <button>{{ "HOME.BTN2" | translate }}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <img src="assets/home/Queen.jpeg" class="img-fluid" alt="Queen">
      </div>
    </div>
  </div>
</section> -->

<section id="web">
  <div class="container-fluid">
    <div class="row">
      <div class="col" style="text-align: center;">
        <img class="img-fluid" src="assets/home/top.gif" width="85%" alt="top">
      </div>
    </div>
  </div>
</section>

<section id="mobile">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>Thousands of workouts</h2>
      </div>
    </div>
    <div class="row">
      <div class="col" style="text-align: center;">
        <img class="img-fluid" src="assets/home/top.gif" width="85%" alt="top">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>
          Body, Mind & Soul
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="btn-div">
          <button>Start now</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="scroll-div">
          <img src="assets/arrows/scroll.svg" width="50px" alt="scroll">
        </div>
      </div>
    </div>
    <hr style="color: white;">
    <br>
  </div>
</section>