<!-- <section id="web">
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col desc">
        <div>
          <h2>
            {{ "HOME.TITLE1" | translate }}
          </h2>
          <p>
            {{ "HOME.DESC1" | translate }}
          </p>
          <div class="btn-container">
            <button>{{ "HOME.BTN1" | translate }}</button>
            <button>{{ "HOME.BTN2" | translate }}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <img src="assets/home/Queen.jpeg" class="img-fluid" alt="Queen">
      </div>
    </div>
  </div>
</section> -->

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col" style="text-align: center;">
        <img class="img-fluid" src="../../../../../assets/home/new Top.jpeg" alt="top">
      </div>
    </div>
  </div>
</section>

<section id="mobile">
  <!-- <div class="container-fluid">
    <div>
      <img width="100%" src="assets/home/Queen.jpeg" class="img-fluid" alt="Queen">
    </div>
    <div class="desc">
      <h2>
        {{ "HOME.TITLE1" | translate }}
      </h2>
      <p>
        {{ "HOME.DESC1" | translate }}
      </p>
      <div class="btn-container">
        <button>{{ "HOME.BTN1" | translate }}</button>
        <button>{{ "HOME.BTN2" | translate }}</button>
      </div>
    </div>

  </div> -->
</section>