<section class="container">
    <div class="row">
        <div id="logo" class="col">
            <img src="assets/login/logo.png" alt="Logo">
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <h1>Seja bem vindo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <h2>Não possui uma conta ainda? <a href="#">Cadastrar-se</a></h2>
        </div>
    </div>
    <form action="POST" class="row">
        <div class="col mt-4 mb-4">
            <input class="mb-4" type="email" placeholder="Email"><br>
            <input class="mb-4" type="password" placeholder="Email"><br>
            <button type="submit">Log in</button><br>
        </div>
    </form>
    <div class="row">
        <div class="col mt-5">
            <a href="#">Esqueceu a senha?</a>
        </div>
    </div>
</section>
<app-login-footer></app-login-footer>