<section class="cards-section">
    <div class="titles">
        <br>
        <h2>Faça receitas adaptadas aos seus objetivos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem optio consequuntur in obcaecati dolorem culpa
            excepturi et nemo amet! Repellendus, explicabo ipsa? Quas ducimus veniam ipsam. Assumenda itaque omnis
            quidem.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque dignissimos repellendus officia quia.
            Cumque sit vel ullam sed, dignissimos officia earum. Dolores corrupti suscipit vel dolore saepe beatae sint
            autem?</p>
        <br>
    </div>
    <div class="container">
        <div class="cards row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="../../../assets/home/cards/Card_1.png" alt="Coach">
                    <!-- <div class="card-description">
                        <h4>YOGA</h4>
                        <p>From Alguem bla bla bla...</p>
                    </div> -->

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">

                    <img src="../../../assets/home/cards/Card_2.png" alt="Coach">
                    <!-- <div class="card-description">
                        <h4>HITT</h4>
                        <p>From Alguem bla bla bla...</p>
                    </div> -->
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="../../../assets/home/cards/Card_3.png" alt="Coach">
                    <!--  <div class="card-description">
                        <h4>YOGA</h4>
                        <p>From Alguem bla bla bla...</p>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <button>Comece uma Jornada</button>
</section>