.titles {
  text-align: center;

  h2 {
    font-size: 2.8rem;
    color: #01002E;
  }

  p {
    font-size: 1.5rem;
    line-height: 30px;
    margin: 0px 200px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;

  img {
    width: 300px;
  }
}

.card {
  border: 0px;
}

#button {
  text-align: center;
  font-size: 1.5rem;
}


#cards2-mobile {
  display: none;
}

#cards2 {
  display: block;
}

@media (max-width: 1200px) {
  #cards2-mobile {
    display: block;

    div {
      text-align: center;
    }

    img {
      width: 200px;
      align-self: center;
    }

    .inner-card {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      a {
        padding: 0px 20px;
      }
    }

    p{
      font-size: 0.9rem;
    }

    .card-description {
      h4 {
        font-size: larger;
        font-weight: 800;
      }

      p {
        padding: 0px 100px;
      }
    }
  }

  #cards2 {
    display: none;
  }
}
