<header>
    <app-navbar></app-navbar>
    <br><br>
    <div>
        <h3>Brand Partnership</h3>
    </div>
</header>
<main>
    <h3>Brand Partnership</h3>
    <hr>
    <form action="" method="POST">
        <input type="text" name="firstName" placeholder="&nbsp; &#61447; &nbsp;&nbsp;&nbsp; First name">
        <br>
        <input type="text" name="lastName" placeholder="&nbsp; &#61447; &nbsp;&nbsp;&nbsp; Last name">
        <br>
        <input type="text" name="company" placeholder="&nbsp; &#61649; &nbsp;&nbsp;&nbsp; Company">
        <br>
        <textarea name="more" cols="30" rows="10" placeholder="&nbsp; Tell us more"></textarea>
        <br><br><br>
        <button type="submit">Submit</button>
    </form>
</main>
<app-footer></app-footer>


<!-- 61459 -->