header {
  #first {
    background-image: url("../../../assets/contactos/first.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    padding: 20px;
    font-size: 50px;
    font-weight: 200;
    color: #001658;
    background: rgba(100%, 100%, 100%, 0.75);
  }
}

main {
  margin: 30px;

  h3 {
    font-size: 40px;
    font-weight: 10;
    color: #001658;
    line-height: 40px;
  }

  form {
    text-align: center;
    display: flex;
    align-items: center;

    input,
    textarea {
      width: 75% !important;

      background: rgba(175, 175, 175, 0.938);
      color: white;
      border: 0px;
    }

    span {
      height: 60px;
    }

    input {
      height: 60px;
    }

    textarea {
      width: 78% !important;
    }

    .input-group {
      align-items: center;
      justify-content: center;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      font-size: 20px;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: white;
      font-size: 20px;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: white;
      font-size: 20px;
    }

    button {
      font-size: 30px;
      width: 200px;
    }
  }
}

@media (max-width: 900px) {
  header {
    h3 {
      font-size: 30px;
      font-weight: 100;
    }
  }
}
