<header>
    <app-navbar></app-navbar>
    <br><br>
    <div id="first">
        <h3>Brand Partnership</h3>
    </div>
</header>
<main>
    <h3>Brand Partnership</h3>
    <hr>
    <form action="" method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <input type="text" class="form-control" name="firstName" placeholder="First name" aria-label="First name">
        </div>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
            <input type="text" class="form-control" name="lastName" placeholder="Last name" aria-label="Last name">
        </div>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-building"></i></span>
            <input type="text" class="form-control" name="company" placeholder="Company" aria-label="Company">
        </div>
        <br>
        <textarea name="more" cols="30" rows="10" placeholder="&nbsp; Tell us more"></textarea>
        <br><br><br>
        <button type="submit">Submit</button>
    </form>
</main>
<app-footer></app-footer>