#mobile {
  display: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../../assets/home/glitch.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;

  justify-content: center;
  align-items: center;

  .desc {
    text-align: center;
    padding: 0px 2rem;

    h2 {
      font-size: 2.2rem;
      line-height: 3rem;
      padding-bottom: 1rem;
      color: #fff;
    }

    p {
      font-size: 1.2rem;
      color: white;
      text-align: left;
      text-align: justify;
      line-height: 2rem;
    }

    button {
      background-color: black;
      border: 1px solid #707070;
      color: white;
      font-size: 1.5em;
      padding: 0.6rem 2.2rem;
      border-radius: 0.1rem;
      transition: all 0.5s;
    }

    button:hover {
      background-color: white;
      border: 1px solid black;
      color: black;
    }
  }
}

.description-take {
  padding: 0px 40px;

  h2 {
    font-size: 2.2rem;
    line-height: 3rem;
    padding-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    color: white;
    text-align: left;
    text-align: justify;
    line-height: 2rem;
  }

  button {
    background-color: black;
    border: 1px solid #707070;
    color: white;
    font-size: 1.5em;
    padding: 0.6rem 2.2rem;
    border-radius: 0.1rem;
    transition: all 0.5s;
  }

  button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
}

img {
  width: 50vw;
}

@media (max-width: 1000px) {
  #mobile {
    display: flex;
  }

  #web {
    display: none;
  }

  .description-take {
    padding: 0px 10px;

    h2 {
      font-size: 1.4rem;
      line-height: 1.6rem;
      width: 100%;
    }

    p {
      font-size: 1rem;
      text-align: center;
      line-height: 1.3rem;
    }

    button {
      background-color: black;
      border: 1px solid #707070;
      color: white;
      font-size: 1em;
      padding: 0.3rem 1.9rem;
      border-radius: 0.1rem;
      transition: all 0.3s;
    }

    button:hover {
      background-color: white;
      border: 1px solid black;
      color: black;
    }
  }
}
