<section class="section-2" style="background-color: black; color: white;">
    <div class="flex">
        <div class="description">
            <h2>
                {{ "HOME.TAKEPROGRAMS" | translate }}
            </h2>
            <br><br>
            <p>
                {{ "HOME.DESC2" | translate }}
            </p>
            <br>
            <br><br>
            <button>{{ "HOME.BTN3" | translate }}</button>
        </div>
    </div>
    <div id="img">
        <br>
        <img src="../../../../../assets/home/3pics.png" alt="coach">
        <br><br><br>
    </div>
</section>