<section class="section-2" style="background-color: black; color: white;">
    <div class="flex">
        <div class="description">
            <br><br><br><br><br>
            <h2>
                Take programs tailored
                to your fitness goal
            </h2>
            <br><br>
            <p>
                Get unlimited access to thousands of workouts and programs,
                created and guided by our certified trainers. Find your
                journey and start sem mais demoraaaass. Get unlimited access
                to thousands of workouts and programs, created and g
                uided by our certified trainers
            </p>
            <br>
            <br>
            <button>Discover</button>
        </div>
    </div>
    <div id="img">
    </div>
</section>