<section id="web" class="section-2" style="background-color: black; color: white; height: 60vh;">
    <div class="flex">
        <div class="description-take">
            <h2>
                {{ "HOME.TAKEPROGRAMS" | translate }}
            </h2>
            <p> 
                {{ "HOME.DESC2" | translate }}
            </p>
            <br>
            <button>{{ "HOME.BTN3" | translate }}</button>
        </div>
    </div>
    <div style="display: flex; align-items: center;">
        <img src="assets/home/3pics.png" alt="coach">
    </div>
</section>

<section id="mobile">
    <div class="desc" >
        <h2>
            {{ "HOME.TAKEPROGRAMS" | translate }}
        </h2>
        <p class="d-none">
            {{ "HOME.DESC2" | translate }}
        </p>
        <br>
        <button>{{ "HOME.BTN3" | translate }}</button>
    </div>
</section>