section {
  height: 80vh;
  background-image: url("../../../assets/prices/top.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  small {
    color: white;
    font-size: 1rem;
    font-weight: 600;
  }
}
