header {
  div {
    background-image: url("../../../assets/ambassador/first.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    padding: 20px;
    font-size: 2.2rem;
   
    color: #fff;
  }
}

hr {
  orientation: unset;
  height: 100px;
  background-color: gray;
}

section {
  display: flex;
  margin: 30px;

  h2 {
    font-size: 40px;
    font-weight: 10;
    color: #001658;
  }

  p,
  li,
  h5 {
    text-align: left;
    font-size: 1.2rem;
    line-height: 25px;
  }

  #right {
    padding-top: 30px;
    width: 100%;
    border: solid 1px;
    border-color: white white white black;
  }
}

#final-section {
  background-image: url("../../../assets/ambassador/last.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;

}


@media (max-width: 900px) {
  #right {
    border: hidden;
    border-color: white white white white;
  }
}