<header>
    <app-navbar></app-navbar>
    <br><br>
    <div>
        <h3>{{ "AMBASSADOR.TOP" | translate }}</h3>
    </div>
</header>
<main>
    <section id="web" class="row">
        <div id="left" class="col">
            <br>
            <h2>{{ "AMBASSADOR.TITLE" | translate }}</h2>
            <p>{{ "AMBASSADOR.TEXT1" | translate }} {{ "AMBASSADOR.TEXT2" | translate }}</p>
        </div>

        <div id="right" class="col">
            <h5><i class="bi bi-phone"></i>&nbsp;&nbsp; Enquires and info</h5>
            <ul>
                <li>
                    <p>Email: ambassadors@tecfitgorup.com</p>
                </li>
                <li>
                    <p>Mobile: +244 999 999 999</p>
                </li>
                <li>
                    <p>7 am- 6 pm</p>
                </li>
                <li>
                    <p>Mon-Sat</p>
                </li>
            </ul>
        </div>
    </section>
    <app-exemplos class="web"></app-exemplos>
    <section id="mobile">
        <div id="black-section">
            <h2>{{ "AMBASSADOR.TITLE" | translate }}</h2>
            <p>
                {{ "AMBASSADOR.TEXT1" | translate }} {{ "AMBASSADOR.TEXT2" | translate }}
            </p>
        </div>
        <div id="white-section">
            <h1><i class="bi bi-phone"></i>&nbsp;&nbsp; Enquires and info</h1>
            <ul>
                <li>
                    <p>Email: ambassadors@tecfitgorup.com</p>
                </li>
                <li>
                    <p>Mobile: +244 999 999 999</p>
                </li>
                <li>
                    <p>7 am- 6 pm</p>
                </li>
                <li>
                    <p>Mon-Sat</p>
                </li>
            </ul>
        </div>
        <swiper class="swiper" [loop]="true" [spaceBetween]="0" [autoplay]="true" [breakpoints]="{
    '0': {
      slidesPerView: 2
    },
    '768': {
      slidesPerView: 4
    },
    '1024': {
      slidesPerView: 4
    }
  }">
            <ng-template swiperSlide>
                <div>
                    <img src="assets/nutrition/1.jpeg" class="img-fluid" />
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div>
                    <img src="assets/nutrition/2.jpeg" class="img-fluid" />
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div>
                    <img src="assets/nutrition/1.jpeg" class="img-fluid" />
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div>
                    <img src="assets/nutrition/2.jpeg" class="img-fluid" />
                </div>
            </ng-template>
        </swiper>
    </section>
    <!-- <div id="final-section">
    </div> -->
</main>
<app-footer>
</app-footer>