#treinos-banner {
  background-image: url("../../../assets/workout/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;

  display: flex;
  align-items: flex-end;

  h5 {
    color: white;
    font-size: 3.5rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
    width: 40%;
    line-height: 100%;
    font-weight: bold;
  }
}

#benefits {
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
  }

  div {
    display: flex;

    .arrow {
      margin-left: 10px;
      margin-right: 10px;
    }

    .arrow:hover {
      cursor: pointer;
    }

    .card {
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      border: none;

      img {
        align-self: center;
      }

      p {
        margin: 0 50px;
      }
    }
  }
}

#plans {
  margin: 0px 30px;

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
  }
}
