<header>
  <app-navbar></app-navbar>
</header>
<main>
  <section id="treinos-banner">
    <h5>{{ "WORKOUTS.TITLE" | translate }}</h5>
  </section>

  <section class="section-challenge">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-md-center mb-md-5 -md mt-5">{{ "WORKOUTS.CHALENGE" | translate }}</h2>
        </div>
        <div class="col-md-8">
          <div class="d-flex right-side">

            <i class="bi bi-arrow-right me-3"></i> 
            <div class="border-b">
              <p>{{ "WORKOUTS.POINT1" | translate }}</p>
            </div>
           
          </div>
          <div class="d-flex right-side mt-5">

            <i class="bi bi-arrow-right me-3"></i> 
            <div class="border-b">
              <p>{{ "WORKOUTS.POINT2" | translate }}</p>
            </div>
           
          </div>

          <div class="d-flex right-side mt-5">

            <i class="bi bi-arrow-right me-3"></i> 
            <div class="border-b">
              <p>{{ "WORKOUTS.POINT3" | translate }}</p>
            </div>
           
          </div>

          <div class="d-flex right-side mt-5">

            <i class="bi bi-arrow-right me-3"></i> 
            <div class="border-b">
              <p>{{ "WORKOUTS.POINT4" | translate }}</p>
            </div>
           
          </div>

          <div class="d-flex right-side mt-5">
            
            <i class="bi bi-arrow-right me-3"></i> 
            <div class="border-b">
              <p>{{ "WORKOUTS.POINT5" | translate }}</p>
            </div>
           
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <app-programs></app-programs>

  <section class="info-app">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="info text-center text-md-start pt-5">
            <h2>{{ "MULTIPROTEIN.TITLE1" | translate }}</h2>
            <br>
            <h4>{{ "MULTIPROTEIN.TITLE2" | translate }}</h4>
            <p>
              {{ "MULTIPROTEIN.TEXT" | translate }}
            </p>
          </div>
          <div class="d-xl-flex mt-5 justify-content-between d-none ">
            <a href="#"><img src="assets/home/PlayStore.png" class="img-fluid" /></a>
            <a href="#" class="text-end"><img src="assets/home/AppStore.png" class="img-fluid" /></a>
          </div>
          <!-- <div class="text-center mt-5 d-xl-block d-none">
            <button class="btn btn-primary">Comece uma jornada</button>
          </div> -->
        </div>
  
  
        <div class="col-md-6">
          <div class="d-md-flex ms-5 d-none justify-content-between app">
            <img src="assets/nutrition/phone2.png" width="100%" />
            <!-- <img src="assets/nutrition/Grupo 4068.jpg" class="img-fluid" /> -->
            <!-- <img src="assets/nutrition/Grupo 4074.jpg" class="img-fluid" /> -->
          </div>
  
          <div class="d-md-none d-block text-center app">
            <img src="assets/nutrition/Imagem 40.jpg" class="img-fluid mx-auto" />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-flex info-app-mobile justify-content-center d-xl-none mt-5">
          <a href="#" c class="text-end me-5"><img src="assets/home/PlayStore.png" class="img-fluid " /></a>
          <a href="#" class="text-start ms-5"><img src="assets/home/AppStore.png" class="img-fluid" /></a>
        </div>
        <div class="text-center d-block mt-3 d-xl-none">
          <button class="btn btn-primary">Comece uma jornada</button>
        </div>
      </div>
    </div>
  </section>
 
  


  <section>
    <div id="video" >
        <i class="bi bi-play-circle" (click)="openDialog()"></i>
    </div>
  
</section>

  <app-plans-component></app-plans-component>
</main>
<app-footer></app-footer>