#treinos-banner {
  background-image: url("../../../assets/workout/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;

  display: flex;
  align-items: flex-end;

  h5 {
    color: white;
    font-size: 3.5rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
    width: 40%;
    line-height: 100%;
    font-weight: bold;
  }
}


#plans {
  margin: 0px 30px;

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
  }
}
