/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";

* {
  font-family: "Unna", serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-h1,
.mat-headline,
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6 {
  font-family: "Unna", serif;
}

button,
.btn-primary {
  background-color: rgb(3, 3, 58);
  color: #fff;
  border: 0px;
  margin: 3px;
  padding: 10px;
  border-radius: 0.1rem;
}

button:hover,
.btn-primary:hover {
  background-color: rgb(1, 1, 20);
}

.btn-primary:active {
  background-color: rgb(1, 1, 20);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(1, 1, 20);
  border-color: rgb(1, 1, 20);
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-2 {
  display: flex;
  background-color: gray;

  img {
    width: 50%;
  }

  .flex {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .description {
    padding: 0 7vw;
    color: white;

    h2 {
      font-size: 40px;
      line-height: 40px;
    }

    p {
      color: white;
      font-size: x-large;
      line-height: 35px;
    }

    .color-black {
      color: black;
    }
  }
}

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
