<section class="container-fluid mt-5">
    <div class="row mb-5">
        <div class="col col-md-4">
            <img class="img-fluid" src="assets/contactos/barco.jpeg" alt="Barco">
        </div>
        <div class="col col-md-4">
            <form action="POST">

            </form>
        </div>
        <div class="col col-md-4">
            <img class="img-fluid" src="assets/contactos/ponte.jpeg" alt="Barco">
        </div>
    </div>

    <div class="row mb-5">
        <div class="col" style="text-align: center;">
            <button type="submit">Submit</button>
        </div>
    </div>

</section>