<section class="section-5">
  <br>
  <div style="position: relative;text-align: center;">
    <swiper class="swiper" [slidesPerView]="2" [autoplay]="true" (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()" [spaceBetween]="70">
      <ng-template swiperSlide>
        <div id="card-1" class="card">
          <div>
            <p>
              SHOP <br> WOMENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div id="card-2" class="card">
          <div>
            <p>
              SHOP <br> MENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div id="card-3" class="card">
          <div>
            <p>
              SHOP <br> WOMENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div id="card-4" class="card">
          <div>
            <p>
              SHOP <br> MENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div id="card-5" class="card">
          <div>
            <p>
              SHOP <br> WOMENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
  <br>
</section>