<section class="section-5">
    <br>
    <h1>Compre os nossos artigos</h1>
    <div style="position: relative;text-align: center;">
      <swiper class="swiper" [slidesPerView]="5" [autoplay]="false" (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()" [spaceBetween]="20">
        <ng-template swiperSlide><img src="../../../assets/home/store/1.jpeg" class="img-fluid" /></ng-template>
        <ng-template swiperSlide><img src="../../../assets/home/store/2.jpeg" class="img-fluid" /></ng-template>
        <ng-template swiperSlide><img src="../../../assets/home/store/3.jpeg" class="img-fluid" /></ng-template>
        <ng-template swiperSlide><img src="../../../assets/home/store/4.jpeg" class="img-fluid" /></ng-template>
        <ng-template swiperSlide><img src="../../../assets/home/store/5.jpeg" class="img-fluid" /></ng-template>
      </swiper>
      <button
        style="background-color: white; color: blue; position: absolute; left: 47%; bottom: 250px; z-index: 1;"><b>Ir
          para Loja</b></button>
    </div>

  </section>
