.card {
  border: 0px;
  height: 600px;
  display: flex;
  justify-content: center;

  div {
    color: white;
    line-height: 40px;
    font-size: 40px;
    padding: 20px;
    text-align: center;
  }

  button {
    font-size: 20px;
    line-height: 20px;
  }
}

#card-1,
#card-2,
#card-3,
#card-4,
#card-5 {
  background-repeat: no-repeat;
  background-size: cover;
}

#card-1 {
  background-image: url("../../../../../assets/home/store/women.jpeg");
  align-items: flex-end;
}
#card-2 {
  background-image: url("../../../../../assets/home/store/men.jpeg");
  align-items: flex-start;
}
#card-3 {
  background-image: url("../../../../../assets/home/store/women.jpeg");
  align-items: flex-end;
}
#card-4 {
  background-image: url("../../../../../assets/home/store/men.jpeg");
  align-items: flex-start;
}
#card-5 {
  background-image: url("../../../../../assets/home/store/women.jpeg");
  align-items: flex-end;
}

#shopFor {
  display: none;

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  #shopFor {
    display: block;
  }

  #card-1 {
    background-image: url("../../../../../assets/home/store/women_mobile.jpeg");
    align-items: center;
  }
  #card-2 {
    background-image: url("../../../../../assets/home/store/men_mobile.jpeg");
    align-items: center;
  }
  #card-3 {
    background-image: url("../../../../../assets/home/store/women_mobile.jpeg");
    align-items: center;
  }
  #card-4 {
    background-image: url("../../../../../assets/home/store/men_mobile.jpeg");
    align-items: center;
  }
  #card-5 {
    background-image: url("../../../../../assets/home/store/women_mobile.jpeg");
    align-items: center;
  }
}
