<section class="section-5">
  <br>
  <div id="shopFor">
    <br>
    <h3>SHOP FOR</h3>
    <br>
  </div>
  <div style="position: relative;text-align: center;">
    <swiper class="swiper" (swiper)="onSwiper($event)" [slidesPerView]="2" [spaceBetween]="30">
      <ng-template swiperSlide>
        <div id="card-1" class="card">
          <div>
            <p>
              SHOP <br> WOMENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div id="card-2" class="card">
          <div>
            <p>
              SHOP <br> MENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div id="card-3" class="card">
          <div>
            <p>
              SHOP <br> WOMENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div id="card-4" class="card">
          <div>
            <p>
              SHOP <br> MENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div id="card-5" class="card">
          <div>
            <p>
              SHOP <br> WOMENS
            </p>
            <button>Buy Now</button>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
  <br>
</section>