section {
  background-image: url("../../../../../assets/home/newtop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 170vh;

  color: white;
}

#teste {
  height: 85vh;
  background-image: url("../../../../../assets/teste.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
