<section>
    <div class="glitch">
        <div class="glitch__item"></div>
        <div class="glitch__item"></div>
        <div class="glitch__item"></div>
        <div class="glitch__item"></div>
        <div class="glitch__item"></div>
        <div style="position: absolute; bottom: 0px; background-color: rgba(0, 0, 0, 0.6); min-height: 80vh; display: flex; align-items: center;">
            <div class="container-fluid" style="margin: 0px 5rem;">
                <div class="row">
                    <div class="col col-lg-7 col-md-7">
                        <div class="row">
                            <div style="display: flex; align-items: center;">
                                <i style="margin-right: 2rem;"><img width="90%" src="assets/home/icons/1.svg" alt=""></i>
                                <div>
                                    <h1>More than 150 workouts</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores
                                        placeat
                                        illo optio aperiam possimus nostrum, laborum vel provident pariatur quaerat
                                        tempora
                                        quos ex corporis, ratione labore vitae quasi veniam?</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="display: flex; align-items: center;">
                                <i style="margin-right: 2rem;"><img width="90%" src="assets/home/icons/2.svg" alt=""></i>
                                <div>
                                    <h1>More than 150 workouts</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores
                                        placeat
                                        illo optio aperiam possimus nostrum, laborum vel provident pariatur quaerat
                                        tempora
                                        quos ex corporis, ratione labore vitae quasi veniam?</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="display: flex; align-items: center;">
                                <i style="margin-right: 2rem;"><img width="90%" src="assets/home/icons/3.svg" alt=""></i>
                                <div>
                                    <h1>More than 150 workouts</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores
                                        placeat
                                        illo optio aperiam possimus nostrum, laborum vel provident pariatur quaerat
                                        tempora
                                        quos ex corporis, ratione labore vitae quasi veniam?</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="display: flex; align-items: center;">
                                <i style="margin-right: 2rem;"><img width="90%" src="assets/home/icons/4.svg" alt=""></i>
                                <div>
                                    <h1>More than 150 workouts</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores
                                        placeat
                                        illo optio aperiam possimus nostrum, laborum vel provident pariatur quaerat
                                        tempora
                                        quos ex corporis, ratione labore vitae quasi veniam?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-5 col-md-5">
                        <img src="assets/nutrition/phone2.png" alt="phone">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div>
                <div style="position: absolute; left: 70%; top: 45%; text-align: left;">
                    <h2 style="margin: 0px;">Body . Mind . Soul</h2>
                    <hr style="margin: 0px; width: 10.8rem;">
                    <hr style="margin: 2px 0px; width: 10.8rem; margin-bottom: 1rem;">
                    <h1>BODY WEIGHT</h1>
                    <h1>WEIGHT TRAINING</h1>
                    <button style="background-color: transparent; text-align: left; padding: 0px;">
                        <img width="50%" src="assets/home/botaoTop.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>