<section>
    <div class="glitch">
        <div class="glitch__item"></div>
        <div class="glitch__item"></div>
        <div class="glitch__item"></div>
        <div class="glitch__item"></div>
        <div class="glitch__item"></div>
        <div id="web-slides">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-lg-7 col-md-7"
                        style="display: flex; flex-direction: column; justify-content: center; padding-left: 6%;">
                        <div class="row">
                            <div style="display: flex; align-items: center;">
                                <i style="margin-right: 2rem;"><img width="60rem" src="assets/home/icons/1.svg"
                                        alt=""></i>
                                <div id="title-1" class="active">
                                    <h1>{{ "HOME.PHONETITLE1" | translate }}</h1>
                                    <p>{{ "HOME.PHONEDESC1" | translate }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="display: flex; align-items: center;">
                                <i style="margin-right: 2rem;"><img width="60rem" src="assets/home/icons/2.svg"
                                        alt=""></i>
                                <div id="title-2">
                                    <h1>{{ "HOME.PHONETITLE2" | translate }}</h1>
                                    <p>{{ "HOME.PHONEDESC2" | translate }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="display: flex; align-items: center;">
                                <i style="margin-right: 2rem;"><img width="60rem" src="assets/home/icons/3.svg"
                                        alt=""></i>
                                <div id="title-3">
                                    <h1>{{ "HOME.PHONETITLE3" | translate }}</h1>
                                    <p>{{ "HOME.PHONEDESC3" | translate }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="display: flex; align-items: center;">
                                <i style="margin-right: 2rem;"><img width="60rem" src="assets/home/icons/4.svg"
                                        alt=""></i>
                                <div id="title-4">
                                    <h1>{{ "HOME.PHONETITLE4" | translate }}</h1>
                                    <p>{{ "HOME.PHONEDESC4" | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-5 col-md-5">
                        <!-- <img class="fade-in" [src]="phone" alt=""> -->
                        <swiper [effect]="'fade'" [autoplay]="true" [navigation]="false" [centeredSlides]="true"
                            [breakpoints]="{
                            '700': {
                              slidesPerView: 1
                            },
                            '1000': {
                              slidesPerView: 1
                            },
                            '1200': {
                              slidesPerView: 1
                            }}" [spaceBetween]="0" [loop]="false" [pagination]="false" (slideChange)="onSlideChange()">
                            <ng-template swiperSlide>
                                <div>
                                    <img width="140%" style="padding-right: 8rem;" src="assets/home/phones/phone1.png"
                                        alt="">
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div>
                                    <img width="140%" style="padding-right: 8rem;" src="assets/home/phones/phone2.png"
                                        alt="">
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div>
                                    <img width="140%" style="padding-right: 8rem;" src="assets/home/phones/phone1.png"
                                        alt="">
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div>
                                    <img width="140%" style="padding-right: 8rem;" src="assets/home/phones/phone2.png"
                                        alt="">
                                </div>
                            </ng-template>
                        </swiper>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid"  id="outter-top-button">
        <div class="row">
            <div>
                <div id="top-button">
                    <h2>Body . Mind . Soul</h2>
                    <hr style="margin: 0px !important; width: 10.8rem;">
                    <hr style="margin: 2px 0px; width: 10.8rem; margin-bottom: 1rem;">
                    <h1>BODY WEIGHT</h1>
                    <h1 id="wt">WEIGHT TRAINING</h1>
                    <button>
                        <img src="assets/home/botaoTop.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>