

<nav class="navbar navbar-dark bg-black fixed-top">
  <div class="container-fluid align-items-center" >
    <div>
      <button (click)="openNav()" [ngClass]="{'hamburger':true, 'hamburguer--elastic': true, 'is-active': false}"  class="" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <div class="center">
      <a class="navbar-brand" href="/"
        ><img
          src="../../../../assets/navbar/tecfit-logo.png"
          alt="logo"
          class="logo"
      /></a>
    </div>

    <div class="right-side">
      <ul class="navbar-nav rigth-list">
        <li class="nav-item flag">
          <div class="dropdown pe-2">
            <button
              class="dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ translate.actualLang | uppercase }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let lang of translate.translate.getLangs()">
                <button
                  (click)="translate.changeLocale(lang)"
                  class="dropdown-item"
                >
                  {{ lang | uppercase }}
                </button>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item flag ms-4 me-4 d-md-flex d-none align-items-center">
          <div>
            <a href="#"><i class="align-middle bi bi-person-fill"></i></a>
          </div>
          
        </li>
        <li class="nav-item flag d-md-block d-none">
          <button class="" type="submit">{{ "NAVBAR.BTN" | translate }}</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="mySidebar" [ngClass]="{'sidebar': true}">
  <button (click)="closeNav()" [ngClass]="{'hamburger':true, 'hamburguer--elastic': true, 'is-active': true, 'd-none': !open}"  class="" type="button">
    <span [ngClass]="{'hamburger-box': true}">
      <span [ngClass]="{'hamburger-inner': true}"></span>
    </span>
  </button>
  <div [ngClass]="{'sidebar-itens': true, 'd-none': !open}">
    <a class="nav-link" routerLink="/workouts">{{ "NAVBAR.MENU1" | translate}}</a>
    <a class="nav-link" href="#">{{ "NAVBAR.MENU2" | translate }}</a>
    <a class="nav-link" href="#">{{ "NAVBAR.MENU3" | translate }}</a>
    <a class="nav-link" href="#">{{ "NAVBAR.MENU4" | translate }}</a>
    <a class="nav-link" href="#">{{ "NAVBAR.MENU5" | translate }}</a>
  </div>

  
 
</div>
