// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == bootstrap_768 {
    @media only screen and (max-width: 47.8em) {
      @content;
    } //768px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
}

.navbar {
  @include respond(phone) {
    padding: 0.5rem 0;
  }
}

.center {
  .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
      width: 4rem;
    }
  }
}

.right-side {
  button {
    padding: 0.4rem 0.5rem;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  a i {
    font-size: 1.5rem;
  }

  .dropdown {
    background-color: transparent;
    /* border-right: 1px solid white; */

    @include respond(bootstrap_768) {
      border: none;
    }

    .dropdown-menu {
      padding: 0;
      min-width: 0rem;
      position: absolute;
    }

    .dropdown-toggle {
      font-size: 0.9rem;
      background-color: transparent;
      height: 2rem;

      &::after {
        display: none;
      }
    }

    .dropdown-item {
      padding: 0.5rem 1rem;
      margin: 0;
      font-size: 0.9rem;

      &:active {
        background-color: rgb(3, 3, 58);
      }
    }
  }
}

.navbar {
  background-color: transparent;

  a {
    color: white;
  }
}

.sidebar {
  position: absolute;
  left: 0;
  background-color: #0f0f0f;
  top: 0;
  width: 0;
}

/* SIDE BAR */
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

  .opacity-0 {
    opacity: 0;
  }

  img {
    position: absolute;
    left: 50%;
    width: 4rem;
    top: 1rem;
    transform: translate(-50%, 0);
  }

  a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #666;
    }
  }

  .sidebar-itens {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    a {
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
  }

  .sidebar-footer {
    border-top: 1px solid white;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;

    a {
      text-transform: uppercase;
      font-size: 0.8rem;
    }

    &-center {
      @include respond(bootstrap_768) {
        display: none;
      }

      ul {
        margin-left: 0;
        margin-bottom: 0;
        li {
          list-style: none;
        }
      }
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 1rem;
  }

  .hamburger {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

/* The button used to open the sidebar */
.openbtn {
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 0px;
  width: fit-content;
  margin: 0px;
}

#start {
  width: 7.3rem;
  font-size: 0.75rem;
  background-color: transparent;
  border: 1px solid white;
}

#start:hover {
  color: black;
  background-color: white;
}
